<!-- START - SIMPLE HEADER CONTAINER -->
<nav class="navbar navbar--primary-nav navbar-default d-flex" role="navigation">

  <!-- top bar -->
  {% include 'includes/groups/navigation/simple-header/header-utility-nav-2-simple.twig' %}

</nav>
<section class="navbar navbar--simple-nav navbar-default d-flex">
  <!-- logo -->
  <div class="primary-nav__logo d-flex">
    {% include 'includes/elements/images/logo-your-avon.twig' %}
  </div>
  <!-- links -->
  {# <div class="navbar-links">
    <a href="#" class="btn btn-link">Log In</a>
    <a href="#" class="btn btn-default">Get Started</a>
    <a href="#" class="btn btn-link-responsive">Get Started</a>
  </div> #}
</section>
<!-- END - SIMPLE HEADER CONTAINER -->


<!-- START - GLOBAL MESSAGE -->
{# <section class="alert alert-level-header alert-strong alert-neutral alert-campaign-timer">
  <span class="alert-msg-icon lt-icon lt-medium lt-tip align-middle hidden-xs"></span>
  <span class="alert-msg-txt mr-2">Lorem ipsum, dolor sit?</span>
  <button class="btn btn-sm btn-transparent-primary btn-soft">Lipsum</button>
</section> #}
<!-- END - GLOBAL MESSAGE -->
