<!-- START - HEADER LEVEL - SUCCESS 1-->
{% include "includes/groups/alerts/alert-level-template.twig" with {
  alertIcon: 'lt-checkmark',
  alertHeadline: 'Balance successfull paid',
  alertBody: null,
  alertBtnText: null,
  alertClasses: 'alert-success alert-strong',
  alertLevel: 'header',
  alertDismissable: true,
  alertId: null
} %}
<!-- END - HEADER LEVEL - SUCCESS2 -->