<!-- START - HEADER LEVEL - ERROR -->
{% include "includes/groups/alerts/alert-level-template.twig" with {
  alertIcon: 'lt-warning-fill',
  alertHeadline: 'There was an error...',
  alertBody: null,
  alertBtnText: null,
  alertClasses: 'alert-danger alert-strong',
  alertLevel: 'header',
  alertDismissable: false,
  alertId: null
} %}
<!-- END - HEADER LEVEL - ERROR -->
