{% if buttonText is not defined %}
  {% set buttonText = 'Continue' %}
{% endif %}

<section class="list-group box-emphasize box-emphasize--focused">
  <div class="list-group-item  remove-last-border border-0">
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Credit Card CVV</h6>
      <a class="pull-right underline" href="#">Edit card</a>
    </div>

    {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: 'VISA ending 1234',
      icon: '/images/icons/payment-visa.svg',
      holder: 'Marcia Brady',
      editable: false
    } %}

    <!-- START - FORM -->
    <form role="form" class="pt-4 pb-4">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6 col-sm-4 pb-3">
            {% include "includes/groups/forms/input-and-label.twig" with {
              mainLabel: 'Amount to Pay',
              labelClasses: 'nowrap',
              placeholder: '$XXX.XX',
              type: 'number'
            } %}
          </div>
          <div class="col-xs-6 col-sm-4">
            {% include "includes/groups/forms/input-and-label.twig" with {
              mainLabel: 'CVV',
              labelAddon: '<a href="javascript:void(0)" data-toggle="modal" data-target="#shippingModal">
                  <span class="lt-icon lt-tip lt-medium align-middle"></span>
              </a>',
              type: 'number'
            } %}
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xs-12">
          <div class="btn-group btn-group-50-50--contained">
            <div class="btn-group">
              <a href="javascript:void(0)" class="btn btn-default">Cancel</a>
            </div>
            <div class="btn-group">
              <a href="javascript:void(0)" class="btn btn-primary">{{ buttonText }}</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END - FORM -->
  </div>
</section>
