{% if headline is empty %}
  {% set headline = 'Payments' %}
{% endif %}
<section class="list-group box-emphasize">
  <div class="list-group-item remove-last-border">
    <div class="clearfix mb-2">
      <h6 class="mb-3 pull-left">Payments</h6>
    </div>

    {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: 'Avon Credit Line',
      icon: '/images/icons/payment-avoncredit.svg',
      subhead: '($85 available!)',
      amount: '$85.00'
    } %}

    {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: 'QuickPAY',
      icon: '/images/icons/payment-quickpay.svg',
      amount: '$10.00'
    } %}

    {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: '<span>VISA</span> ending <span>1234</span>',
      icon: '/images/icons/payment-visa.svg',
      amount: '$15.00',
    } %}

    {# {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: 'VISA ending 1234',
      icon: '/images/icons/payment-visa.svg',
      amount: '$15.00',
      subhead: 'Transaction ID: 12345'
    } %} #}

    {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
      type: '<span>Mastercard</span> ending in <span>9876</span>',
      icon: '/images/icons/payment-mastercard.svg',
      amount: '$25.00',
      border: false
    } %}

    <div class="pt-3">
      <div class="clearfix mb-2">
        <!-- DEV NOTE :: This text changes to 'add a final' if the 3rd and final payment method is being added -->
        <h6 class="mb-3">Add Another Payment Method</h6>
        <h6 class="mb-3">Add a Final Payment Method</h6>
      </div>

      {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
        type: '<span>Visa</span> ending in <span>1234</span> <span>- Expired</span>',
        icon: '/images/icons/payment-visa.svg',
        subhead: null,
        amount: null,
        holder: 'Marcia Brady',
        expired: true,
        expiredDate: '01/17',
        editable: false,
        buttonMode: true
      } %}

      {% include 'includes/modules/checkout/elements/payment-option-single.twig' with {
        type: 'Use another credit card',
        icon: '/images/icons/payment-avoncredit.svg',
        subhead: null,
        amount: null,
        editable: false,
        buttonMode: true
      } %}

      <div class="text-muted pb-4"><em>Max number of payment methods(3) reached.</em></div>

    </div>
  </div>



</section>
