<div class="container container--page">

  <!-- START - ORDER OVERVIEW -->
  {% include 'includes/modules/checkout/quick-checkout-order-overview.twig' %}
  <!-- END - ORDER OVERVIEW -->

  <!-- START - SHIPPING ADDRESS -->
  {% include 'includes/modules/checkout/module-ship-to.twig' %}
  <!-- END - SHIPPING ADDRESS -->

  <!-- START - SHIPPING METHOD -->
  {% include 'includes/modules/checkout/module-shipping-method.twig' %}
  <!-- END - SHIPPING METHOD -->

  <!--START - PAYMENT METHOD-->
  {% include 'includes/modules/checkout/quick-checkout-payment-method.twig' %}
  <!--END - PAYMENT METHOD-->

  <!-- START - CREDIT CARD PAYMENT METHOD -->
  {% include 'includes/modules/checkout/quick-checkout-cc.twig' %}
  <!-- END - CREDIT CARD PAYMENT METHOD -->

  <!-- START - PAY WITH AVON CREDIT-->
  {% include 'includes/modules/checkout/quick-checkout-ac.twig' %}
  <!-- END - PAY WITH AVON CREDIT -->

  <!-- START - PAY WITH QUICKPAY-->
  {% include 'includes/modules/checkout/quick-checkout-aq.twig' %}
  <!-- END - PAY WITH AUICKPAY-->

</div>
<!-- /.container -->
