<div class="container container--page">
  
  <!-- START - BALANCE DUE METHOD -->
  {% include 'includes/modules/checkout/quick-checkout-balance-due.twig' %}
  <!-- END - SHIPPING METHOD -->

  <!--START - PAYMENT METHOD-->
  {% include 'includes/modules/checkout/quick-checkout-payment-method.twig' with {hideSplitPayment: true, hideAvonCredit: true} %}
  <!--END - PAYMENT METHOD-->

  <!-- START - CREDIT CARD PAYMENT METHOD -->
  {% include 'includes/modules/checkout/quick-checkout-cc.twig' %}
  <!-- END - CREDIT CARD PAYMENT METHOD -->

  <!-- START - PAY WITH QUICKPAY-->
  {% include 'includes/modules/checkout/quick-checkout-aq.twig' %}
  <!-- END - PAY WITH AUICKPAY-->

</div>
<!-- /.container -->
