{% extends "layouts/modal.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-sign-up-with-an-account' %}
{% endif %}

{% set modalClasses = 'modal-either-or' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Sign Up with an Account</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  {% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}

  <p class="my-b text-center">Add a bank account to complete sign up.</p>

  <div class="form-group">
    <label class="control-label">Name on Account</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text'
    } %}
  </div>

  <div class="form-group">
    <label class="control-label">Bank Name</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text'
    } %}
  </div>

  <div class="form-group">
    <label class="control-label">Bank Routing Number
      <span class="lt-icon lt-tip lt-medium align-middle" data-toggle="modal" data-target="#modal-routing-number" aria-hidden="true"></span>
    </label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text'
    } %}
  </div>

  <div class="form-group has-error">
    <label class="control-label">{% include "includes/elements/forms/label-error-icon.twig" %}Bank Account Number
      <span class="lt-icon lt-tip lt-medium align-middle" data-toggle="modal" data-target="#modal-routing-number" aria-hidden="true"></span>
    </label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: 'form-control'
    } %}
  </div>


  <!-- START - ACCOUNT TYPE RADIOS -->
  <div class="form-group w-100">
    <form class="form-inline" role="form">
      <h6 class="pt-2">Account Type</h6>
      {% include components.elements.forms.radio with {
        id: 'account-type-checking',
        name: 'account-type',
        classes: 'radio-inline pl-0',
        theLabel: 'Checking',
        checked: true
      } %}

      {% include components.elements.forms.radio with {
        id: 'account-type-savings',
        name: 'account-type',
        classes: 'radio-inline',
        theLabel: 'Savings',
        checked: false
      } %}
    </form>
  </div>
  <!-- END - ACCOUNT TYPE RADIOS -->

  <div class="form-group">
    <label class="control-label">Last 4 digits of SSN</label>
    {% include "includes/elements/forms/input.twig" with {
      type: 'password',
      maxlength: '4'
    } %}
  </div>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Save</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
