<h5 class="pane-title">Notes</h5>
<button class="btn btn-sm btn-primary btn-header" data-toggle="modal" data-target="#modal-contacts-notes-add-edit">Add Note</button>
<hr class="mt-4">

<ul class="list-group list-group--clean-sliced">
  {% include 'includes/modules/contacts/contact-detail/tab-panes/notes/li.twig' with {
    date: 'Mar 22, 2018 2:25 PM',
    classes: 'pt-0 pb-5'
  }%}
  {% include 'includes/modules/contacts/contact-detail/tab-panes/notes/li.twig' with {
    date: 'Mar 23, 2018 1:25 PM',
    classes: 'py-5'
  }%}
  {% include 'includes/modules/contacts/contact-detail/tab-panes/notes/li.twig' with {
    date: 'Mar 21, 2018 5:38 PM',
    classes: 'py-5'
  }%}
  {% include 'includes/modules/contacts/contact-detail/tab-panes/notes/li.twig' with {
    date: 'Mar 19, 2018 2:25 PM',
    classes: 'py-5'
  }%}
</ul>
