<!-- START - LIST PAGE HEADER -->
<div class="row mb-3">
  <div class="col-sm-8 vbottom-dt">
    {% include "includes/modules/product/list/page-header.twig" with {
      title: 'Search Results for "Haiku"',
      showResultsInfo: true,
      isSearch: true
    } %}
  </div>
  <div class="col-sm-4 vbottom-dt product-list-header--filters">

    <!-- START - FILTER DROPDOWN -->
    {% include "includes/modules/product/list/menu-items/filter-dropdown.twig" %}
    <!-- END - FILTER DROPDOWN -->

    <!-- START - SORT DROPDOWN -->
    {% include "includes/modules/product/list/menu-items/sort-dropdown.twig" %}
    <!-- END - SORT DROPDOWN -->

  </div>
</div>

<!-- END - LIST PAGE HEADER -->

<!-- START - MOBILE FILTER AND SORT -->
{% include "includes/modules/product/list/filter-sort-mobile.twig" %}
<!-- END - MOBILE FILTER AND SORT -->

<!-- START - DESKTOP FILTER AND SORT -->
{% include "includes/modules/product/list/filter-sort-desktop.twig" %}
<!-- END - DESKTOP FILTER AND SORT -->

<!-- START - PRODUCT LIST -->
{% include "includes/modules/product/list/product-list.twig" %}
<!-- END - PRODUCT LIST -->
