 {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION - TABLES #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="tables" class="page-header">Tables</h1>


  <h2 id="tables-example">Basic example</h2>
  <p>For basic styling&mdash;light padding and only horizontal
    dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.
    It may seem super redundant, but given the widespread use of tables for
    other plugins like calendars and date pickers, we've opted to isolate our
    custom table styles.</p>
  <div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table">
    ...
  </table>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Striped rows #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-striped">Striped rows</h2>
  <p>Use <code>.table-striped</code> to add zebra-striping to any table row
    within the <code>&lt;tbody&gt;</code>.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Cross-browser compatibility</h4>
    <p>Striped tables are styled via the <code>:nth-child</code> CSS selector,
      which is not available in Internet Explorer 8.</p>
  </div>
  <div class="bs-example">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-striped">
    ...
  </table>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Bordered table #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-bordered">Bordered table</h2>
  <p>Add <code>.table-bordered</code> for borders on all sides of the table and
    cells.</p>
  <div class="bs-example">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@TwBootstrap</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-bordered">
    ...
  </table>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Bordered no table #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-no-borders">No borders</h2>
  <p>Add <code>.table-no-borders</code> for no borders rows.</p>
  <div class="bs-example">
    <table class="table table-no-borders">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-no-borders">
    ...
  </table>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Hover rows #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-hover-rows">Hover rows</h2>
  <p>Add <code>.table-hover</code> to enable a hover state on table rows within
    a <code>&lt;tbody&gt;</code>.</p>
  <div class="bs-example">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-hover">
    ...
  </table>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Sparse table #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-sparse">Sparse table</h2>
  <p>Add <code>.table-sparse</code> to make tables with first column aligned
    left, middle columns aligned center and last column aligned right.</p>
  <div class="bs-example">
    <table class="table table-sparse">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-sparse">
    ...
  </table>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Condensed table #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-condensed">Condensed table</h2>
  <p>Add <code>.table-condensed</code> to make tables more compact by cutting
    cell padding in half.</p>
  <div class="bs-example">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <table class="table table-condensed">
    ...
  </table>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Contextual classes #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-contextual-classes">Contextual classes</h2>
  <p>Use contextual classes to color table rows or individual cells.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>.active</code>
          </td>
          <td>Applies the hover color to a particular row or cell</td>
        </tr>
        <tr>
          <td>
            <code>.success</code>
          </td>
          <td>Indicates a successful or positive action</td>
        </tr>
        <tr>
          <td>
            <code>.info</code>
          </td>
          <td>Indicates a neutral informative change or action</td>
        </tr>
        <tr>
          <td>
            <code>.warning</code>
          </td>
          <td>Indicates a warning that might need attention</td>
        </tr>
        <tr>
          <td>
            <code>.danger</code>
          </td>
          <td>Indicates a dangerous or potentially negative action</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>3</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="info">
          <td>5</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="warning">
          <td>7</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="danger">
          <td>9</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

  {{ highlightMarkup }}
  <!-- On rows -->
  <tr class="active">...</tr>
  <tr class="success">...</tr>
  <tr class="warning">...</tr>
  <tr class="danger">...</tr>
  <tr class="info">...</tr>

  <!-- On cells (`td` or `th`) -->
  <tr>
    <td class="active">...</td>
    <td class="success">...</td>
    <td class="warning">...</td>
    <td class="danger">...</td>
    <td class="info">...</td>
  </tr>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Responsive tables #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="tables-responsive">Responsive tables</h2>
  <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code>
    to make them scroll horizontally up to small devices (under 768px). When
    viewing on anything larger than 768px wide, you will not see any difference
    in these tables.</p>
  <div class="bs-example">
    <div class="tables-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /example -->

  {{ highlightMarkup }}
  <div class="table-responsive">
    <table class="table">
      ...
    </table>
  </div>
  {{ endhighlight }}



  <h2 id="tables-responsive-rows-and-cols">Responsive - Mixed rows and columns</h2>
  <ul>
    <li>To make columns of <code>&lt;td&gt;</code>s use <code>.t-inline</code>.</li>
    <li>To make rows of <code>&lt;td&gt;</code>s use <code>.t-block</code>.</li>
    <li>To break into a row after a seris of columns, use <code>.t-row-1</code>
      then <code>.t-row-2</code>.</li>
  </ul>

  <div class="bs-example">
    <div class="table-responsive-rows-and-cols">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="t-firstname">First Name</th>
            <th class="t-lastname">Last Name</th>
            <th class="t-phone">Phone</th>
            <th class="t-email">Email</th>
            <th class="t-online-customer">Online Customer</th>
            <th class="t-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% set row %}
          <tr>
            <td class="t-row-1 t-inline">Mark</td>
            <td class="t-row-1 t-inline">{{ fpo.sentence }}</td>
            <td class="t-row-3 t-block nowrap">000-000-0000</td>
            <td class="t-row-3 t-block">mark@otto.com</td>
            <td class="t-row-2 t-block">{{ fpo.sentence }}</td>
            <td class="t-row-1 t-inline t-self-end">•••</td>
          </tr>
          {% endset %}
          {{ row }}
          {{ row }}
          {{ row }}
        </tbody>
      </table>
    </div><!-- /.table-responsive-rows-and-cols-->
  </div><!-- /example -->

  {{ highlightMarkup }}
  <div class="table-responsive-rows-and-cols">
    <table class="table">
      <tbody>
        <tr>
          <td class="t-row-1 t-inline">Mark</td>
          <td class="t-row-1 t-inline">Lorem ipsum...</td>
          <td class="t-row-3 t-block">000-000-0000</td>
          <td class="t-row-3 t-block">mark@otto.com</td>
          <td class="t-row-2 t-block">Lorem ipsum...</td>
          <td class="t-row-1 t-inline t-self-end">•••</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ endhighlight }}





  <h2 id="tables-responsive-rows-and-absolute-cols">Responsive - Absolute
    columns</h2>
  <p>Sometimes you need a <code>&lt;td&gt;</code> to act as a column that goes
    100% height of the table.</p>
  <ul>
    <li>To each <code>&lt;tr&gt;</code>, add <code>.t-has-absolute-col-left</code> and/or <code>.t-has-absolute-col-right</code>.</li>
    <li>To the <code>&lt;td&gt;</code> that is to be an "absolute" column, add <code>.t-absolute-col-left</code> or <code>.t-absolute-col-right</code>.</li>
  </ul>

  <div class="bs-example">
    <div class="table-responsive-rows-and-cols">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Online Customer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% set row %}
          <tr class="t-has-absolute-col-left t-has-absolute-col-right">
            <td class="t-absolute-col-left">{% include
              "includes/elements/forms/checkbox.twig" with { classes:
              'mt-2 input-sm'} %}</td>
            <td class="t-inline">Mark</td>
            <td class="t-inline">Otto</td>
            <td class="t-block">000-000-0000</td>
            <td class="t-block">mark@otto.com</td>
            <td class="t-block">{{ fpo.sentence }}</td>
            <td class="t-absolute-col-right">•••</td>
          </tr>
          {% endset %}
          {{ row }}
          {{ row }}
          {{ row }}
        </tbody>
      </table>
    </div><!-- /.table-responsive-rows-and-cols-->
  </div><!-- /example -->

  {{ highlightMarkup }}
  <div class="table-responsive-rows-and-cols">
    <table class="table">
      <tbody>
        <tr class="t-has-absolute-col-left t-absolute-col-right">
          <td class="t-absolute-col-left">...</td>
          <td class="t-inline">...</td>
          <td class="t-inline">...</td>
          <td class="t-block">...</td>
          <td class="t-block">...</td>
          <td class="t-block">...</td>
          <td class="t-absolute-col-right">...</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ endhighlight }}



  <h2 id="tables-responsive-column-titles">Responsive - Column Titles</h2>
  <p>Column titles in <code>&lt;thead&gt;</code> are moved to the left as 'row
    titles' on smaller screens.</p>
  <ul>
    <li>Use class <code>table-responsive-column-titles</code> on containing div.</li>
    <li>Any <code>&lt;td&gt;</code> that should become a 'row' title on small
      screens will need a <code>data-title</code> attribute that reflects the
      column title.</li>
    <li>For content that should break out of the table and float right, use
      class <code>mobile-row</code> on <code>&lt;td&gt;</code></li>
    <li>Optionally include a 'mobile sorting' dropdown menu in a <code>&lt;th&gt;</code> in <code>&lt;thead&gt;</code> with class <code>.t-sort</code>. This item will not be visible on large screens and should contain items that reflect the normal column titles. Note this is not required for proper functioning. If omitted, there will simply be no sorting menu.</li>
  </ul>

  <div class="bs-example">
    <div class="table-responsive-column-titles border-top">
      <table class="table table-valign-middle border-top border-bottom">
        <thead>
          <tr>
            <th class="t-firstname">First Name <span class="lt-icon lt-carat-down lt-medium"></span></th>
            <th class="t-lastname">Last Name <span class="lt-icon lt-carat-down lt-medium"></span></th>
            <th class="t-phone">Phone <span class="lt-icon lt-carat-down lt-medium"></span></th>
            <th><span class="sr-only">Actions</span></th>
            <th class="t-sort text-normal text-muted underline medium pt-0 pb-4">
              <span id="sortMenuTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort<span class="lt-icon lt-carat-down lt-medium text-muted ml-2"></span>
              </span>
              <ul class="dropdown-menu dropdown-menu--alt-active pull-right" role="menu">
                <!-- DEV NOTE :: These values should be the same as <th> content in <thead> -->
                <li><a href="#">First Name</a></li>
                <li><a href="#">Last Name</a></li>
                <li><a href="#">Phone</a></li>
              </ul>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set row %}
          <tr class="clearfix">
            <td data-title="First Name">Marcus</td>
            <td data-title="Last Name">Winslow</td>
            <td data-title="Phone">000-000-0000</td>
            <td class="mobile-row">
              <button class="btn btn-sm btn-soft btn-discourage ml-4">Action</button>
            </td>
          </tr>
          {% endset %}
          {{ row }}
          {{ row }}
          {{ row }}
        </tbody>
      </table>
    </div><!-- /.table-responsive-rows-and-cols-->
  </div><!-- /example -->

  {{ highlightMarkup }}
  <div class="table-responsive-column-titles border-top">
    <table class="table table-valign-middle border-top border-bottom">
      <thead>
        <tr>
          <th class="t-firstname">First Name <span class="lt-icon lt-carat-down lt-medium"></span></th>
          <th class="t-lastname">Last Name <span class="lt-icon lt-carat-down lt-medium"></span></th>
          <th class="t-phone">Phone <span class="lt-icon lt-carat-down lt-medium"></span></th>
          <th><span class="sr-only">Actions</span></th>
          <th class="t-sort text-normal text-muted underline medium pt-0 pb-4">
            <span id="sortMenuTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort<span class="lt-icon lt-carat-down lt-medium text-muted ml-2"></span>
            </span>
            <ul class="dropdown-menu dropdown-menu--alt-active pull-right" role="menu">
              <!-- DEV NOTE :: These values should be the same as <th> content in <thead> -->
              <li><a href="#">First Name</a></li>
              <li><a href="#">Last Name</a></li>
              <li><a href="#">Phone</a></li>
            </ul>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="clearfix">
          <td data-title="First Name">Marcus</td>
          <td data-title="Last Name">Winslow</td>
          <td data-title="Phone">000-000-0000</td>
          <td class="mobile-row">
            <button class="btn btn-sm btn-soft btn-discourage ml-4">Action</button>
          </td>
        </tr>

        <tr class="clearfix">
          <td data-title="First Name">Marcus</td>
          <td data-title="Last Name">Winslow</td>
          <td data-title="Phone">000-000-0000</td>
          <td class="mobile-row">
            <button class="btn btn-sm btn-soft btn-discourage ml-4">Action</button>
          </td>
        </tr>

        <tr class="clearfix">
          <td data-title="First Name">Marcus</td>
          <td data-title="Last Name">Winslow</td>
          <td data-title="Phone">000-000-0000</td>
          <td class="mobile-row">
            <button class="btn btn-sm btn-soft btn-discourage ml-4">Action</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  {{ endhighlight }}

</div>
