{% if showTheValue %}
  {% set theValue = '12345 6th St.' %}
{% endif %}
{% if showPlaceholder %}
  {% set placeholder = 'Address Line 1' %}
{% endif %}
{% if mainLabel %}
  {% set mainLabel = mainLabel %}
{% else %}
  {% set mainLabel = 'Address' %}
{% endif %}

{% include 'includes/groups/forms/input-and-label.twig' with {
  id: idPrefix ~ 'address',
  mainLabel: mainLabel,
  type: 'text',
  required: null,
  haslabelErrorIcon: true,
  hasInlineErrorIcon: null,
  hasAbsoluteErrorIcon: null,
  theValue: theValue,
  placeholder: placeholder
} %}
