{% if showTheValue %}
  {% set theValue = 'Suite 100' %}
{% endif %}
{% if showPlaceholder %}
  {% set placeholder = 'Address Line 2 (optional)' %}
{% endif %}

{% include 'includes/elements/forms/input.twig' with {
  id: idPrefix ~ 'address-2',
  theValue: theValue,
  placeholder: placeholder
} %}
