{% if showTheValue %}
  {% set theValue = 'Albuquerque' %}
{% endif %}
{% if showPlaceholder %}
  {% set placeholder = 'City' %}
{% endif %}

{% include 'includes/groups/forms/input-and-label.twig' with {
  id: idPrefix ~ 'city',
  mainLabel: 'City',
  type: 'text',
  required: null,
  haslabelErrorIcon: true,
  hasInlineErrorIcon: null,
  hasAbsoluteErrorIcon: null,
  theValue: theValue,
  placeholder: placeholder
} %}
