{% include 'includes/groups/forms/selectpicker-and-label.twig' with {
  id: idPrefix ~ 'country',
  label: 'Country',
  classes: '',
  size: 4,
  options: ['Select...', 'Country 1', 'Country 2', 'Country 3'],
  selectFirst: selectFirst
} %}
