{% if showTheValue %}
  {% set optionSelected = 2 %}
{% endif %}

{% include 'includes/groups/forms/selectpicker-and-label.twig'  with {
  id: idPrefix ~ 'day',
  mainLabel: 'Day',
  required: null,
  haslabelErrorIcon: true,
  hasInlineErrorIcon: null,
  hasAbsoluteErrorIcon: null,
  optionSelected: optionSelected,
  hasFormGroup: true,
  hideLabel: hidelabel,
  'options': [
    {'label': 'Select...'},
    {'label': '01'},
    {'label': '02'},
    {'label': '03'},
    {'label': '04'},
    {'label': '05'},
    {'label': '06'},
    {'label': '07'},
    {'label': '08'},
    {'label': '09'},
    {'label': '10'},
    {'label': '11'},
    {'label': '12'},
    {'label': '13'},
    {'label': '14'},
    {'label': '15'},
    {'label': '16'},
    {'label': '17'},
    {'label': '18'},
    {'label': '19'},
    {'label': '20'},
    {'label': '21'},
    {'label': '22'},
    {'label': '23'},
    {'label': '24'},
    {'label': '25'},
    {'label': '26'},
    {'label': '27'},
    {'label': '28'},
    {'label': '29'},
    {'label': '30'},
    {'label': '31'}
  ]
} %}
