{% if showTheValue %}
  {% set optionSelected = 2 %}
{% endif %}
{% if not latestYear %}
  {% set latestYear = 2000 %}
{% endif %}

{% include 'includes/groups/forms/selectpicker-and-label.twig'  with {
  id: idPrefix ~ 'year',
  mainLabel: 'Year',
  required: null,
  haslabelErrorIcon: true,
  hasInlineErrorIcon: null,
  hasAbsoluteErrorIcon: null,
  optionSelected: optionSelected,
  hasFormGroup: true,
  hideLabel: hidelabel,
  'options': [
    {'label': 'Select...'},
    {'label': latestYear},
    {'label': latestYear - 1},
    {'label': latestYear - 2}
  ]
} %}
