{% if showTheValue %}
  {% set theValue = '98765' %}
{% endif %}
{% if showPlaceholder %}
  {% set placeholder = 'ZIP code' %}
{% endif %}

{% include 'includes/groups/forms/input-and-label.twig' with {
  id: idPrefix ~ 'zip',
  mainLabel: 'ZIP',
  type: 'number',
  required: null,
  haslabelErrorIcon: true,
  hasInlineErrorIcon: null,
  hasAbsoluteErrorIcon: null,
  theValue: theValue,
  placeholder: placeholder,
  maxlength: 5,
  onInputJs: 'javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,
  this.maxLength);'
} %}
