
{# "itemContainerType" options: carouselOnly, boxesOnly, carouselBoxesCombo #}


{% if itemContainerType is empty %}
  {% set itemContainerType = 'carouselOnly' %}
{% endif %}

<!-- START - CAROUSEL {{ carouselId }}--> 
<div id="{{ carouselId }}" class="carousel slide carousel--box-group-primary" data-ride="carousel"  data-interval="false">
 
  <!-- START - INDICATORS (DOTS) -->
  <ol class="carousel-indicators">
    {% for item in items %}
      <li data-target="#' ~ carouselId ~ '" data-slide-to="' ~ loop.index ~ '" {% if loop.first %} class="active" {% endif %} ></li>
    {% endfor %}
  </ol>
  <!-- END - INDICATORS (DOTS) -->


  <!-- START - SLIDES CONTAINER  -->
  {% include "includes/groups/boxes/primary/item-container.twig" with { 
    items: items, 
    hasToolbar: hasToolbar,
    itemContainerType: itemContainerType
  } %}
  
  <!-- END - SLIDES CONTAINER  -->


  <!-- START - CONTROLS -->
  <a class="left carousel-control" href="#' ~ carouselId ~ '" data-slide="prev">
    <span class="lt-icon lt-left lt-large"></span>
  </a>
  <a class="right carousel-control" href="#' ~ carouselId ~ '" data-slide="next">
    <span class="lt-icon lt-right lt-large"></span>
  </a>
  <!-- END - CONTROLS -->

</div>
<!-- END - CAROUSEL {{ carouselId }}--> 