<!-- START - PRODUCT FILTERS -->
<section class="aside-product-filters mt-4 small">

  <!-- START - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->
  <div class="hidden-xs hidden-sm">
    <div id="product-filter-container">

      <!-- START - FORM -->
      {% include 'includes/modules/product/filters/product-filters-form.twig' %}
      <!-- END - FORM -->

    </div>
  </div>
  <!-- END - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->

  {% include "includes/modules/product/filters/product-filters-modal.twig" %}

</section>
<!-- END - PRODUCT FILTERS -->
