<!-- START - HEADER -->
<div class="no-reverse-bg avon-header">
  <div class="row px-0 mx-0">
    <div class="col-xs-12 px-0">
      <header class="global-header" role="banner">

        <!-- Primary navbar -->
        {% include 'includes/groups/navigation/global-header-nav/header-nav-container.twig' %}

      </header>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- END - HEADER -->
