{% extends "layouts/modal-lg-no-footer.twig" %}
{% set modalId = 'requestchange' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <section class="py-5">
    <!-- Product Details -->
    <div class="row">
      <div class="col-md-12 vcenter">
       <iframe src="https://www.youravon.com/us-home/vendorLink.html?linkname=profile-request-change" id="avnModalIframe" class="embed-responsive-item" width="100%" height="800px" scrollable="auto" frameborder="0"></iframe>
      </div>
    </div>
    <!-- /.row -->
  </section>

{% endblock %}
