{% if styleguideItem.path %}
  {% set styleguideItemPathRendered %}
    {% include styleguideItem.path %}
  {% endset %}
{% endif %}

{% if styleguideItem.reverseBg %}
  {% set reverseBgClass = ' reverse-bg ' %}
{% endif %}
<h2 id="{{ styleguideItem.slug }}" class="bs-headline{{ reverseBgClass }}">{{ styleguideItem.title }}</h2>
{{ styleguideItem.description }}

{# Example #}
<div class="bs-example{{reverseBgClass}}">
  {% if styleguideItem.snippet %}
    {{ styleguideItem.snippet }}
  {% else %}
    {{ styleguideItemPathRendered }}
  {% endif %}
</div>

{# Markup #}
{{ highlightMarkup }}
  {% if styleguideItem.snippet %}
    {{ styleguideItem.snippet }}
  {% else %}
    {{ styleguideItemPathRendered }}
  {% endif %}
{{ endhighlight }}

{# Twig include and HTML path #}
{% if styleguideItem.path %}
  {{ highlightTwig }}
  {% if styleguideItem.twig %}{{ '{% include ' }}{{ styleguideItem.twig }}{{ ' %}' }}
  {% endif %}
  {{ endhighlight }}
{% endif %}

