{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION -  FORMS #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="forms" class="page-header">FORMS</h1>

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Basic example #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="forms-example">Basic example</h2>
  <p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>
  <div class="bs-example">
    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div><!-- /example -->


  {{ highlightMarkup }}
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  {{ endhighlight }}

  <div class="bs-callout bs-callout-warning">
    <h4>Don't mix form groups with input groups</h4>
    <p>Do not mix form groups directly with <a href="/components/#input-groups">input groups</a>. Instead, nest the input group inside of the form group.</p>
  </div>


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Inline form #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="forms-inline">Inline form</h2>
  <p>Add <code>.form-inline</code> to your <code>&lt;form&gt;</code> for left-aligned and inline-block controls. <strong>This only applies to forms within viewports that are at least 768px wide.</strong></p>
  <div class="bs-callout bs-callout-danger">
    <h4>Requires custom widths</h4>
    <p>Inputs, selects, and textareas are 100% wide by default in Bootstrap. To use the inline form, you'll have to set a width on the form controls used within.</p>
  </div>
  <div class="bs-callout bs-callout-warning">
    <h4>Always add labels</h4>
    <p>Screen readers will have trouble with your forms if you don't include a label for every input. For these inline forms, you can hide the labels using the <code>.sr-only</code> class.</p>
  </div>
  <div class="bs-example">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
  </div><!-- /example -->


  {{ highlightMarkup }}
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword2">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Horizontal form #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="forms-horizontal">Horizontal form</h2>
  <p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p>
  <div class="bs-example">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
  {{ endhighlight }}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Input and Label #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="input-and-label">Input and Label</h2>
  <p>Include for an input and label with an optional label addon which will render any provided markup aligned right.</p>
  <div class="bs-example">
    <form role="form">
      <div class="form-group">
        {% include components.groups.forms.inputAndLabel with {
          id: 'address',
          mainLabel: 'Address',
          type: 'text',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          theValue: '',
          placeholder: 'Address Line 1'
        } %}
      </div>
    </form>
  </div><!-- /example -->

  {{ highlightMarkup }}
    <form role="form">
      <div class="form-group">
       {% include components.groups.forms.inputAndLabel with {
          id: 'address',
          mainLabel: 'Address',
          type: 'text',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          theValue: '',
          placeholder: 'Address Line 1'
        } %}
      </div>
    </form>
  {{ endhighlight }}

  <pre class="language-markup code-toolbar">
    <code class="language-twig">
      &#123;% include components.groups.forms.inputAndLabel with {
        id: 'address',
        mainLabel: 'Address',
        type: 'text',
        required: null,
        haslabelErrorIcon: true,
        hasInlineErrorIcon: null,
        hasAbsoluteErrorIcon: null,
        theValue: '',
        placeholder: 'Address Line 1'
      } %}
    </code>
  </pre>




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Select and Label #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <h2 id="forms-select-and-label">Select and Label</h2>

   <div class="bs-example">
    <form role="form">
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'country',
          mainLabel: 'Country',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 2,
          'options': [
            {'label': 'Select...'},
            {'label': 'Country 1'},
            {'label': 'Country 2'}
          ]
        } %}
      </div>
    </form>
  </div><!-- /example -->




{#
{% include components.elements.forms.select with {
    'options': [
      {'label': 'Option Label 4'},
      {'label': 'Option Label 5'},
      {'label': 'Option Label 6'}
    ]
  }%}

 #}




  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Checkboxes and radios #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <h2 id="forms-checkboxes-radios">Checkboxes and radios</h2>
  <p>Checkboxes are for selecting one or several options in a list while radios are for selecting one option from many.</p>


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Default (stacked) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h4>Default (stacked)</h4>
  <div class="bs-example">
    <form role="form">
      {% include components.groups.forms.checkboxAndLabel with {theValue: 'Option1', label: "Option one is this and that&mdash;be sure to include why it's great"} %}
      <br>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
    </form>
  </div><!-- /.bs-example -->


  <pre class="language-markup code-toolbar"><code class="language-twig">
  &#123;% include components.groups.forms.checkboxAndLabel with {theValue: 'Option1', label: "Option one is this and that&mdash;be sure to include why it's great"} %}
  {{ endhighlight }}

  {{ highlightMarkup }}
  {% include components.groups.forms.checkboxAndLabel with {theValue: 'Option1', label: "Option one is this and that&mdash;be sure to include why it's great"} %}

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Inline checkboxes< #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h4>Inline checkboxes</h4>
  <p>Use the <code>.checkbox-inline</code> or <code>.radio-inline</code> classes on a series of checkboxes or radios for controls that appear on the same line.</p>
  <div class="bs-example">
    <form role="form">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
      </label>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
  </label>
  {{ endhighlight }}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Radio and Select Picker #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="input-and-label">Radio and Select Picker</h2>
  <p>Include for a radio with a select picker include as the 'value'</p>
  <div class="bs-example p-5">
    <form role="form">
      <div class="form-group">
        {% set selectPicker %}
          <select class="form-control selectpicker" data-size="5" data-style="btn-select btn-lg" data-icon-base="lt-icon">
            <option selected="true" disabled="true">Select a credit card</option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 1"></option>
            <option data-content="<img src='../images/icons/payment-mastercard.svg'> Credit Card 2"></option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 3"></option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 4"></option>
          </select>
        {% endset %}
        {% include 'includes/elements/forms/radio.twig' with {
          id: 'myId',
          name: 'myName',
          theLabel: 'Option One',
          checked: true,
          classes: 'my-5'
        } %}
        {% include 'includes/groups/forms/radio-and-select.twig' with {
          id: 'myId',
          name: 'myName',
          theLabel: selectPicker,
          checked: false,
          classes: 'radio-select-combo-lg'
        } %}
        {% include 'includes/elements/forms/radio.twig' with {
          id: 'myId',
          name: 'myName',
          theLabel: 'Option Three',
          checked: false,
          classes: 'my-5'
        } %}
      </div>
    </form>
  </div><!-- /example -->

  <pre class="language-markup code-toolbar">
    <code class="language-twig">
      &#123;% set selectPicker %}
      {{ highlightMarkup }}
      <select class="form-control form-inline selectpicker" data-size="5" data-style="btn-select" data-icon-base="lt-icon">
        <option selected="true" disabled="true">Select...</option>
        <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 1"></option>
        <option data-content="<img src='../images/icons/payment-mastercard.svg'> Credit Card 2"></option>
        <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 3"></option>
        <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 4"></option>
      </select>
      {{ endhighlight }}
      &#123;% endset %}

      &#123;% include 'includes/groups/forms/radio-and-select.twig' with {
        id: 'myId',
        name: 'myName',
        theLabel: selectPicker,
        checked: false
      } %}
    </code>
  </pre>

  {{ highlightMarkup }}
  <form role="form">
    <div class="form-group">

      <div class="radio">
        <label class="control-label">
          <input type="radio" name="myName" id="myId" checked="">
          <span class="mr-4"></span>
          Option One
        </label>
      </div>

      <div class="radio radio-select-combo">
        <label class="control-label">
          <input type="radio" name="myName" id="myId" false="">
          <span class="mr-4"></span>
          <select class="form-control form-inline selectpicker" data-size="5" data-style="btn-select" data-icon-base="lt-icon">
            <option selected="true" disabled="true">Select...</option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 1"></option>
            <option data-content="<img src='../images/icons/payment-mastercard.svg'> Credit Card 2"></option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 3"></option>
            <option data-content="<img src='../images/icons/payment-visa.svg'> Credit Card 4"></option>
          </select>
        </label>
      </div>

      <div class="radio">
        <label class="control-label">
          <input type="radio" name="myName" id="myId" false="">
          <span class="mr-4"></span>
          Option Three
        </label>
      </div>

    </div>
  </form>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Static control #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="forms-controls-static">Static control</h2>
  <p>When you need to place plain text next to a form label within a horizontal form, use the <code>.form-control-static</code> class on a <code>&lt;p&gt;</code>.</p>
  <div class="bs-example">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">email@example.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </form>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Disabled fieldsets #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <h3 id="forms-disabled-fieldsets">Disabled fieldsets</h3>
  <p>Add the <code>disabled</code> attribute to a <code>&lt;fieldset&gt;</code> to disable all the controls within the <code>&lt;fieldset&gt;</code> at once.</p>

  <div class="bs-callout bs-callout-warning">
    <h4>Link functionality of <code>&lt;a&gt;</code> not impacted</h4>
    <p>This class will only change the appearance of <code>&lt;a class="btn btn-default"&gt;</code> buttons, not their functionality. Use custom JavaScript to disable links here.</p>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h4>Cross-browser compatibility</h4>
    <p>While Bootstrap will apply these styles in all browsers, Internet Explorer 9 and below don't actually support the <code>disabled</code> attribute on a <code>&lt;fieldset&gt;</code>. Use custom JavaScript to disable the fieldset in these browsers.</p>
  </div>

  <div class="bs-example">
    <form role="form">
      <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Disabled input</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
        </div>
        <div class="form-group">
          <label for="disabledSelect">Disabled select menu</label>
          <select id="disabledSelect" class="form-control">
            <option>Disabled select</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Can't check this
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <form role="form">
    <fieldset disabled>
      <div class="form-group">
        <label for="disabledTextInput">Disabled input</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
      </div>
      <div class="form-group">
        <label for="disabledSelect">Disabled select menu</label>
        <select id="disabledSelect" class="form-control">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Can't check this
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
  {{ endhighlight }}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN SIZING #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <h3>Column sizing</h3>
  <p>Wrap inputs in grid columns, or any custom parent element, to easily enforce desired widths.</p>
  <div class="bs-example">
    <form role="form">
      <div class="row">
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder=".col-xs-2">
        </div>
        <div class="col-xs-3">
          <input type="text" class="form-control" placeholder=".col-xs-3">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" placeholder=".col-xs-4">
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <div class="row">
    <div class="col-xs-2">
      <input type="text" class="form-control" placeholder=".col-xs-2">
    </div>
    <div class="col-xs-3">
      <input type="text" class="form-control" placeholder=".col-xs-3">
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder=".col-xs-4">
    </div>
  </div>
  {{ endhighlight }}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Help text #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  <h2 id="forms-help-text">Help text</h2>
  <p>Block level help text for form controls.</p>
  <div class="bs-example">
    <form role="form">
      <input type="text" class="form-control">
      <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
    </form>
  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  {{ endhighlight }}

</div>
