{% extends "layouts/modal.twig" %}
{% if not modalId %}
  {% set modalId = 'add-new-customer-modal' %}
{% endif %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

<!-- DEV NOTE :: this button only displays if .is-nested class appears on
              :: modal, which only happens quick shop modal -->
  <button type="button" class="close back link-primary pull-left" data-toggle="modal" data-target="#quick-shop-modal" data-direction="back" aria-hidden="true">
    <span class="sr-only">Go back</span>
    <span class="lt-icon lt-left lt-large py-1"></span>
  </button>

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Add a New Customer</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <h5 class="">Name</h5>

  <div class="form-group">
    <label class="control-label">First Name</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text'
    } %}
  </div>

  <div class="form-group">
    <label class="control-label">Last Name</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'text'
    } %}
  </div>

  <h5 class="">Contact</h5>
  <p class="">Please enter at least one method of contact information.</p>

  <div class="form-group">
    <label class="control-label">Email</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'email'
    } %}
  </div>

  <div class="form-group">
    <label class="control-label">Phone Number</label>
    {% include "includes/elements/forms/input.twig" with {
      type : 'tel'
    } %}
  </div>

  <p class="">After you add a customer, you can complete their profile in Web Office.</p>



{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Add</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
