<div class="global-angular-datepicker-year">
  {% include 'includes/groups/forms/datepicker-rendered-from-you-avon-year-alt.twig' %}
  {% include 'includes/groups/forms/datepicker-rendered-from-you-avon-year.twig' %}
</div>