<div class="global-angular-datepicker-day">
  {% include 'includes/groups/forms/datepicker-rendered-from-you-avon-day-alt.twig' %}
  {% include 'includes/groups/forms/datepicker-rendered-from-you-avon-day.twig' %}
</div>