{% if not hideLabel %}
  {% include 'includes/elements/forms/label.twig' with {
    'id': id,
    'mainLabel': mainLabel,
    'haslabelErrorIcon': haslabelErrorIcon,
    'labelAddon': labelAddon,
    'labelAddonRight': labelAddonRight,
    'classes': labelClasses
  } %}
{% endif %}
{% include 'includes/elements/forms/input.twig' with {
  'id':                   id,
  'items':                items,
  'classes':              classes,
  'type':                 type,
  'placeholder':          placeholder,
  'theValue':             theValue,
  'size':                 size,
  'maxlength':            maxlength,
  'includeValueData':     includeValueData,
  'hasInlineErrorIcon':   hasInlineErrorIcon,
  'hasAbsoluteErrorIcon': hasAbsoluteErrorIcon,
  'required':             required
} %}
{% if errorMessage %}
  {% include components.elements.forms.errorMessage with {'errorMessage': errorMessage} %}
{% endif %}



