{% if not hideLabel %}
  {% include 'includes/elements/forms/label.twig' with {
    'id': id,
    'mainLabel': mainLabel,
    'haslabelErrorIcon': haslabelErrorIcon,
    'labelAddon': labelAddon,
    'labelAddonRight': labelAddonRight,
    'classes': labelClasses
  } %}
{% endif %}
{% include 'includes/elements/forms/textarea.twig' with {
  'id':                   id,
  'items':                items,
  'classes':              classes,
  'placeholder':          placeholder,
  'theValue':             theValue,
  'rows':                 rows,
  'includeValueData':     includeValueData,
  'theValue':             theValue,
  'maxlength':            maxlength,
  'hasInlineErrorIcon':   hasInlineErrorIcon,
  'hasAbsoluteErrorIcon': hasAbsoluteErrorIcon,
  'required':             required,
  'disabled':             disabled
} %}
{% if errorMessage %}
  {% include components.elements.forms.errorMessage with {'errorMessage': errorMessage} %}
{% endif %}



