<li class="list-group-item single-cart-item box-emphasize my-4">

  <!-- START - CHECKBOX -->
  {% if includeCheckbox is not defined or includeCheckbox == true  %}
    {% include "includes/elements/forms/checkbox.twig" with {checked: true, classes: "mt-1"} %}
  {% endif %}
  <!-- END - CHECKBOX -->

  <!-- START - CART SUMMARY -->
  <dl class="clearfix m-0">
    <dt class="pull-left">
      <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse-{{ indexNum }}-cart-item" class="link-plain {% if collapsed != false %} collapsed {% endif %}">
        <span class="lt-icon lt-triangle-down collapse-indicator align-middle"></span>
        <span class="ml-3 align-middle">{{ personName }}</span>
      </a>
    </dt>
    {% if total %}
      <dt class="pull-right cart-total" data-total="{{ total }}">${{ total }}</dd>
    {% endif %}
  </dl>

  <dl class="clearfix ml-5 mt-0 mt-md-3 mb-3 mr-0">
    {% if expiredItems %}
      {% set itemsTextExpired = " expired " %}
      {% set itemsTextClass = " text-danger" %}
    {% else %}
      {% set itemsTextClass = " text-muted" %}
    {% endif %}
    <dd class="pull-left small{{ itemsTextClass }}">{{ itemCount }}{{ itemsTextExpired }} items</dd>
    <dd class="pull-right cart-delete small text-muted">
      <a href="javascript:void(0)" class="link-muted underline" data-toggle="modal" data-target="#blank-modal-either-or">Delete</a>
    </dd>
  </dl>
  <!-- END - CART SUMMARY -->

  {% if showAlert %}
    <!-- START - INLINE LEVEL - JUST BULLETS -->
    {% include "includes/groups/alerts/alert-level-template.twig" with {          
      alertIcon: null,
      alertHeadline: null,
      alertBody: '
      <ul class="alert-list">
        <li>Error pertaining to this cart 1</li>
        <li>Error pertaining to this cart 1</li>
      </ul>',
      alertBtnText: null,
      alertClasses: 'alert-danger',
      alertLevel: 'content',
      alertDismissable: false,
      alertId: null
    } %}
    <!-- END - INLINE LEVEL - JUST BULLETS -->
  {% endif %}

  <!-- START - CART DETAILS (EXPANDABLE) -->
  <div class="details collapse {% if collapsed == false %} in {% endif %}" id="collapse-{{ indexNum }}-cart-item">

    <table class="table table--carts table-justified table-no-borders">
      <thead class="hidden-xs">
        <tr>
          <th class="t-item px-3 small">Item</th>
          <th class="t-desc px-3 small">Description</th>
          <th class="t-price px-3 small">Price</th>
          <th class="t-qty px-3 small text-right">Qty</th>
        </tr>
      </thead>
      <tbody>

        <!-- START - REPEATABLE ITEMS -->

        {% include 'includes/groups/your-order/single-product-tr.twig' with {
          productName: 'Aute ut aute non dolor consequat consectetur nostrud eiusmod laboris duis.',
          img: '/images/fpo/anew_fade-bg-lg.png',
          autoReplenish: null,
          sku: '829-957',
          price: '$30.00',
          salePrice: null,
          classes: 'input-sm',
          indexNum: indexNum,
          showMessagesOutOfStock: null,
          expiredItems: expiredItems,
          quantityStatic: quantityStatic
        }%}

        {% include 'includes/groups/your-order/single-product-tr.twig' with {
          productName: 'Anew Ultimate Supreme Advanced Performance Créme',
          img: '/images/fpo/cover-up.png',
          autoReplenish: true,
          sku: '329-321',
          price: '$10.00',
          salePrice: '$8.99',
          classes: 'input-sm',
          indexNum: indexNum,
          showMessagesOutOfStock: true,
          expiredItems: expiredItems,
          quantityStatic: quantityStatic
        }%}

        {% include 'includes/groups/your-order/single-product-tr.twig' with {
          productName: 'Anew Purfume',
          img: '/images/fpo/purfume.png',
          autoReplenish: null,
          sku: '856-376',
          price: '$45.00',
          salePrice: null,
          classes: 'input-sm',
          whichRow: 'last',
          indexNum: indexNum,
          showMessagesOutOfStock: null,
          expiredItems: expiredItems,
          quantityStatic: quantityStatic
        }%}

         <!-- END - REPEATABLE ITEMS -->

      </tbody>
    </table>


  </div>
  <!-- END - CART DETAILS (EXPANDABLE) -->


  {% if viewOffers %}
  <!-- START - VIEW OFFERS -->
  <section>

    <!-- START - VIEW OFFERS CONTENT (EXPANDABLE) -->
    <div class="details collapse" id="collapse-{{ indexNum }}-view-offer">
      <!-- TODO: Make repeatable style for this, if it gets used again -->
      <ul class="list-unstyled row border-secondary d-table">

        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>
        <li class="col-sm-6 p-3 border-secondary d-table-cell">
          {{ offer10Discount }}
        </li>

      </ul><!-- /.row -->
    </div>
    <!-- END - VIEW OFFERS CONTENT (EXPANDABLE) -->


    <!-- START - EXPANDABLE TRIGGER -->
    {# <div class="text-center border-top pt-3">
      <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse-{{ indexNum }}-view-offer" class="collapse-updown collapsed">
        <b>View offers</b>
        <span class="lt-icon lt-triangle-down collapse-indicator"></span>
      </a>
    </div> #}
    <!-- END - EXPANDABLE TRIGGER -->

  </section>
  <!-- END - VIEW OFFERS -->
  {% endif %}

</li>
