{% if whichRow == 'last' %}
  {% set bottomPadding = ' pb-0' %}
{% else %}
  {% set bottomPadding = ' pb-3 pb-md-4 ' %}
{% endif %}

<tr class="pt-3">
  <td class="t-item py-3 pt-md-5 pb-4 pl-md-3">
    <img src="{{ img }}" alt="">
  </td>
  <td class="t-desc py-3 pt-md-5 pb-4 pl-0 pl-md-3 pr-0">
    <div>
      <span><strong>{% if indexNum == '1' %}FPO Short{% else %}{{ productName }}{% endif %}</strong></span>
      <span class="desc-group text-muted small">
        <span class="product-sku mr-4">{{ sku }}</span>
        <span class="campaign-num">Campaign 4</span>
      </span>


    </div>
  </td>
  <td class="t-price {% if salePrice %}t-price--reduced{% endif %} text-right pb-0 pb-md-3 pt-3 pt-md-5 pr-0 pr-md-3">
    {% if salePrice %}
      <span class="text-primary d-block"><strong>{{ salePrice }}</strong></span>
      <span class="d-block small text-muted strike-through">{{ price }}</span>
    {% else %}
      <span><strong>{{ price }}</strong></span>
    {% endif %}
    <span class="hidden-xs hidden-sm">{{ eachShipment }}</span>
  </td>
  <!-- Developer note: If this is the last <tr> in the <table> change "pb-3 pb-md-4" to "pb-0" -->
  <td class="t-qty text-right {{ bottomPadding }} pt-0 pt-md-5 pr-0 px-md-3">
      {% set qtyExample = "1" %}
      {% if quantityStatic %}
        {{ qtyExample }}
      {% else %}
        <span class="d-flex align-items-center">
          {% include "includes/elements/forms/input.twig" with {
            classes: 'text-right input-sm mt-2 mt-md-0',
            size: '3',
            theValue: qtyExample,
            includeValueData: true
          } %}
        </span>
      {% endif %}

    <div class="mt-2 mt-md-4">
      <a href="javascript:void(0)" class="small link-muted underline" data-toggle="modal" data-target="#blank-modal-either-or">Delete</a>
    </div>
  </td>
</tr>

<!-- START - PRODUCT AVAILABILITY ROW -->
<tr class="border-0">
  <td colspan="4" class="p-0 pb-2">



    {% if expiredItems %}
      {% include 'includes/groups/your-order/message-expired.twig' %}
    {% else %}
      {% if showMessagesOutOfStock %}
        {% include 'includes/groups/your-order/message-more-on-the-way.twig' %}
        {% include 'includes/groups/your-order/message-more-on-the-way.twig' with { outOfStock: true } %}
        {% include 'includes/groups/your-order/message-sold-out.twig' %}
     {% endif %}
    {% endif %}

  </td>
</tr>
<!-- END - PRODUCT AVAILABILITY ROW -->
