{# Developer note: This should not have a progress bar AND a CTA #}
{% if hasFreeLabel %}
  {% set hasFreeLabelClass = 'has-free-label' %}
{% endif %}

{% if hasCtaAddToOrder or hasCtaViewDetails or hasCtaViewDetailsSecondary %}
  {% set hasOfferCtaClass = 'has-offer-ctas' %}
{% endif %}

<li class="list-group-item box-emphasize my-4">

  <!-- START - OFFERS -->
  <dl class="clearfix cart-item-ml my-3 mr-0">

  <!-- START - BANNER (IMAGE) -->
  <div class="col-sm-4 offer-banner mt-3">
    <img src="{{ img }}" class="img-responsive">
  </div>
  <!-- END - BANNER (IMAGE) -->

  <!-- START - DESCRIPTION -->
  <div class="col-sm-8 offer-description">

    <!-- START - HEADER TEXT -->
    <div class="description-text">
      {{ headerText }}
    </div>
    <!-- END - HEADER TEXT -->

    {% if showError %}
      {% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}
    {% endif %}

    <!-- START - DESCRIPTION TEXT -->
    <div class="description-text text-muted">
      {{ descriptionText }}
    </div>
    <!-- END - DESCRIPTION TEXT -->

    {% if hasQty %}
    <!-- START - QTY -->
    <div class="pt-1 pb-0">
      <h6 class="text-muted">QUANTITY</h6>
      <form>
        <div class="form-group">
          <input type="text" class="form-control form-control-inline input-sm mr-2" placeholder="0" size="5">
        </div>
      </form>
    </div>
    <!-- END - EXTRA QTY -->
    {% endif %}

    {% if offerProgress  %}
    <!-- START - OFFER PROGRESS -->
    <div class="offer-progress">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ offerProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ offerProgress }}%;">
          <span class="sr-only">{{ offerProgress }}% Complete</span>
        </div>
      </div>
      <p><strong>Progress: {{ offerProgress }}%</strong> (Add $30 to unlock)</p>
    </div>
    <!-- END - OFFER PROGRESS -->
    {% endif %}


    {% if hasOfferCtaClass %}
    <!-- START - CTAS -->
    <div class="offer-ctas">
      {% if hasCtaAddToOrder %}
        <a href="#" class="btn btn-default btn-sm mt-2 mb-4" role="button">Add to Order</a>
      {% endif %}
      {% if hasCtaViewDetails %}
        <a href="javascript:void(0)" class="btn btn-default btn-sm view-offer-details" role="button">View details</a>
      {% endif %}
      {% if hasCtaViewDetailsSecondary %}
        <a href="#" class="pull-right">View details <span class="lt-icon lt-right"></span></a>
      {% endif %}
    </div>
    <!-- END - CTAS-->
    {% endif %}

  </div>

  </dl>
  <!-- END - OFFERS -->
