<li class="list-group-item single-cart-item box-emphasize my-4">

{% if hasCtaAddToOrder or hasCtaViewDetails or hasCtaViewDetailsSecondary %}
  {% set hasOfferCtaClass = 'has-offer-ctas' %}
{% endif %}

  <!-- START - CART SUMMARY -->


  <dl class="clearfix my-3 mr-0">

  <!-- START - BANNER (IMAGE) -->
  <div class="col-sm-4 mt-3 offer-banner brochure-img pl-0 pt-2">
    <img src="{{ img }}" class="img-responsive">
  </div>
  <!-- END - BANNER (IMAGE) -->

  <!-- START - DESCRIPTION -->
  <div class="col-sm-8 offer-description pr-0">

    
    

    <!-- START - DESCRIPTION TEXT -->
    <div class="description-text">
      {{ headerText }}
      {% if showError %}
        {% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}
      {% endif %}
      {{ descriptionText }}
    </div>
    <!-- END - DESCRIPTION TEXT -->

    {% if hasPricingInfo %}
    <!-- START - PRICING INFO -->
    <div class="mb-4">
      <a href="#" class="underline">View pricing info</a>
    </div>
    <!-- END - PRICING INFO -->
    {% endif %}

    

    {% if hasShowContents %}
    <!-- START - SHOW CONTENTS -->
    <div class="mb-4">
      <a href="javascript:void(0)" class="underline collapse-updown collapsed" data-toggle="collapse" data-target="#collapse-{{ indexNum }}-show-contents">
        Show contents
        <span class="lt-icon lt-triangle-down align-middle ml-2 collapse-indicator"></span>
      </a>
      <div id="collapse-{{ indexNum }}-show-contents" class="collapse">
        <ul class="m-0 pt-3">
          <li>Contents item 1</li>
          <li>Contents item 2</li>
          <li>Contents item 3</li>
        </ul>
      </div>
    </div>
    <!-- END - SHOW CONTENTS -->
    {% endif %}

    {% if hasPrice %}
    <!-- START - PRICE -->
    <div class="mb-4">
      <p><span class="lead pr-2">${{ price }}</span>
      {% if hasValue %}
        <span class="text-muted">(${{ value }} value)</span></p>
      {% endif %}
    </div>
    <!-- END - PRICE -->
    {% endif %}

    <form>
      {% if hasBrochureLanguage %}
      <!-- START - ENGLISH QTY -->
      <div class="pt-1">
        <h6 class="text-muted">QUANTITY - ENGLISH</h6>
        <div class="form-group">
          <input type="text" class="form-control form-control-inline input-sm mr-2" placeholder="0" size="5"> x 10 Brochures
        </div>
      </div>
      <!-- END - ENGLISH QTY -->

      <!-- START - SPANISH QTY -->
      <div class="pt-1 pb-3">
        <h6 class="text-muted">QUANTITY - SPANISH</h6>
        <div class="form-group">
          <input type="text" class="form-control form-control-inline input-sm mr-2" placeholder="0" size="5"> x 10 Brochures
        </div>
      </div>
      <!-- END - SPANISH QTY -->
      {% endif %}

      {% if hasExtraQty %}
      <!-- START - EXTRA QTY -->
      <div class="pt-1 pb-3">
        <h6 class="text-muted">QUANTITY</h6>
        <div class="form-group">
          <input type="text" class="form-control form-control-inline input-sm mr-2" placeholder="0" size="5"> x 10 Brochures
        </div>
      </div>
      <!-- END - EXTRA QTY -->
      {% endif %}
    </form>

    {% if hasOfferCtaClass %}
    <!-- START - CTAS -->
    <div class="offer-ctas">
      {% if hasCtaAddToOrder %}
        <a href="#" class="btn btn-default btn-sm mt-0 mb-4" role="button">Add to Order</a>
      {% endif %}
      {% if hasCtaViewDetails %}
        <a href="javascript:void(0)" class="btn btn-default btn-sm view-offer-details" role="button">View details</a>
      {% endif %}
      {% if hasCtaViewDetailsSecondary %}
        <a href="#" class="pull-right">View details <span class="lt-icon lt-right"></span></a>
      {% endif %}
    </div>
    <!-- END - CTAS-->
    {% endif %}

  </div>
  <!-- END - DESCRIPTION -->

  </dl>
  <!-- END - CART SUMMARY -->


</li>
