{% extends "layouts/base-simple-header.twig" %}

{% set sectionClass = 'page--register' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

<section class="container container--page">

  {% embed 'layouts/columns-12-optional-promo.twig' with {
  showPromo: showPromo
  } %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - ASIDE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block aside %}
  {% include 'includes/modules/register/become-a-rep/form-aside.twig' %}
  {% endblock %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}
  {% include 'includes/modules/register/become-a-rep/form-main.twig' %}
  {% endblock %}

  {% endembed %}

</section>

{% endblock %}

{% endblock %}
