<form>

  <div class="row">
    <div class="col-md-6 form-group">
      {% include 'includes/groups/forms/input-and-label.twig' with {
      id: 'regFirstName',
      mainLabel: 'First Name',
      required: true
      } %}
    </div>

    <div class="col-md-6 form-group">
      {% include 'includes/groups/forms/input-and-label.twig' with {
      type: 'text',
      id: 'regLastName',
      mainLabel: 'Last Name',
      required: true
      } %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      {% include 'includes/groups/forms/input-and-label.twig' with {
      type: 'email',
      id: 'regEmail',
      mainLabel: 'Email Address',
      required: true
      } %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group has-feedback">
        {% include 'includes/groups/forms/input-and-label.twig' with {
        id: 'regPassword',
        mainLabel: 'Password',
        type: 'password',
        required: true,
        haslabelErrorIcon: true,
        hasInlineErrorIcon: null,
        hasAbsoluteErrorIcon: null,
        theValue: 'mypassword'
        } %}
        <a class="lt-icon lt-eye lt-medium form-control-feedback" toggle-password-visibility="regPassword"></a>
      </div>
      {% include "includes/elements/forms/input-password-requirements.twig" with {
      classes: ''
      } %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      {% include 'includes/elements/forms/checkbox.twig' with {
      id: 'regAgreement',
      wrapLabel: true,
      required: true,
      theLabel: 'By registering, you agree to Avon’s <a href="#">Privacy Statement</a> and <a href="#">Conditions of
        Use</a>, and you are over 18 years old.'
      } %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      <a href="javascript:void(0)" class="btn btn-primary d-block" disabled="disabled">Register</a>
    </div>
  </div>

</form>
