<ul class="list-group list-group--basic medium">

  <!-- START - LOOP -->
  {% include 'includes/modules/reports/landing/tab-pane-static-item.twig' %}
  {% include 'includes/modules/reports/landing/tab-pane-static-item.twig' %}
  {% include 'includes/modules/reports/landing/tab-pane-static-item.twig' with { hasWrappingText: true } %}
  {% include 'includes/modules/reports/landing/tab-pane-static-item.twig' %}
  <!-- END - LOOP -->

</ul>

