{% extends "layouts/modal.twig" %}
{% set modalId = 'modal-login-youre-almost-finished' %}

{% set modalClasses = 'modal-vert-center' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}


  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title">You're Almost Finished!</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <div class="text-center mt-4">
    <p class="avatar avatar-md">J</p>
    <p class="large mb-2">Janet Johnson</p>
    <p class="text-muted small mb-5">janet.johnson@gmail.com</p>
    <p>You have a registration in progress.</p>
    <p>Click continue and we'll start where you left off!</p>
    </p>
  </div>

{% endblock %}




{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <button type="button" class="btn btn-primary btn-block">Continue</button>

{% endblock %}
