{% if includeReqs is not defined %}
  {% set includeReqs = false %}
{% endif %}

<!-- EMAIL INPUT -->
<div class="form-group">
  {% include components.groups.forms.inputAndLabel with {
    id: 'login-input',
    mainLabel: '[Email or Account Number / Email Address]',
    haslabelErrorIcon: false,
    hasInlineErrorIcon: null,
    hasAbsoluteErrorIcon: null,
    classes: 'form-control'
  } %}
</div>

<!-- PASSWORD INPUT -->
<div class="form-group has-feedback">
  {% include components.groups.forms.inputAndLabel with {
    id: 'login-password',
    mainLabel: 'Password',
    haslabelErrorIcon: false,
    hasInlineErrorIcon: null,
    hasAbsoluteErrorIcon: null,
    labelAddon: '<a class="small underline" href="#">Forgot password?</a>',
    labelAddonRight: true,
    classes: 'form-control',
    type: 'password',
    theValue: 'Password123'
  } %}
 <span class="lt-icon lt-eye lt-medium form-control-feedback" toggle-password-visibility="login-password"></span>

  {% if includeReqs %}
    {% include "includes/elements/forms/input-password-requirements.twig" with {
      classes: 'mt-2'
    } %}
  {% endif %}

</div>
