{% extends "layouts/widget.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Your PC Level</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
    <img class="mb-3" src="images/logos/achievement-level.png" alt="achievement-level" width="50px">
    <p class="m-0"><strong>Contenter</strong></p>
    <p class="m-0">$9,200 Award Sales</p>
    <div class="progress progress-bar-sm mt-5 mb-3">
  	  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
  	    <span class="sr-only">80% Complete</span>
  	  </div>
  	</div>
    <p class="text-muted m-0">Sell $800 more by C04 to reach President'd Club</p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">Get more info</a>
{% endblock %}
