{% extends "layouts/widget.twig" %}

{% set widgetId = 'widget-store-orders' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Online Store Orders</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center px-0">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">0</h1>
      <div class="col-xs-7 text-left px-0">
        <strong class="d-inline-block">Rep Delivery</strong>
        <a class="d-none" href="javascript:void(0)">Some Link</a>
      </div>
    </div>
    <hr class="my-3 mx-2">
    <div class="row d-flex align-items-center px-0">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">33</h1>
      <div class="col-xs-7 text-left px-0">
        <strong class="d-inline-block">Direct Delivery</strong>
        <a class="d-inline-block" href="javascript:void(0)">Some Link</a>
      </div>
    </div>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">Link here</a>
{% endblock %}
