{% extends "layouts/widget.twig" %}

{% set widgetId = 'widget-your-activities' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>New Recruits</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid px-0">
    <div class="row align-items-center px-4">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">23</h1>
      <strong class="col-xs-7 text-left px-0">New Recruits</strong>
      <br>
      <a class="underline d-block text-left" href="#">View all</a>
    </div>
    <hr class="my-3">
    <div class="row align-items-center px-4">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">33</h1>
      <strong class="col-xs-7 text-left px-0">Eligible for QNR Bonus</strong>
      <a class="underline d-block text-left" href="#">View all</a>
    </div>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}

{% endblock %}
