{% extends "layouts/widget.twig" %}

{% set widgetId = 'widget-your-activities' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Your Activities</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center px-4">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">12</h1>
      <strong class="col-xs-7 text-left px-0">Available</strong>
    </div>
    <hr class="my-3">
    <div class="row d-flex align-items-center px-4">
      <h1 class="text-center d-inline col-xs-5 m-0 px-0">3</h1>
      <strong class="col-xs-7 text-left px-0">In Progress</strong>
    </div>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">Go to Avon U</a>
{% endblock %}
