{# styleguide-main.twig #}
{% extends 'styleguide/layouts/styleguide-base.twig' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}


    <!-- Docs master nav -->
    {% include "styleguide/includes/navs/nav-main.twig" %}


    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ title }}</h1>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div role="main">


        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# RENDER BLOCK - CONTENT #}
        {% block styleguideContent %}{% endblock %}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}


      </div>
    </div>


{% endblock %}
