{# styleguide-main.twig #}
{% extends 'styleguide/layouts/styleguide-base.twig' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}
 

    <!-- Docs master nav -->
    {% include "styleguide/includes/navs/nav-main.twig" %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ title }}</h1>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">


          {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
          {# RENDER BLOCK - CONTENT #}
          {% block styleguideContent %}{% endblock %}
          {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}


        </div>
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">

              {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
              {# BLOCK - SIDE BAR #}
              {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

              {% if slug == "styleguide-home" %}
                {% include "../includes/navs/nav-home.twig" %}

              {% elseif slug == "styleguide-css" %}
                {% include "../includes/navs/nav-css.twig" %}

              {% elseif slug == "styleguide-elements" %}
                {% include "../includes/navs/nav-elements.twig" %}

              {% elseif slug == "styleguide-groups" %}
                {% include "../includes/navs/nav-groups.twig" %}

              {% elseif slug == "styleguide-modules-global" %}
                {% include "../includes/navs/nav-modules-global.twig" %}

              {% elseif slug == "styleguide-modules-your-order" %}
                {% include "../includes/navs/nav-modules-your-order.twig" %}

              {% elseif slug == "styleguide-javascript" %}
                {% include "../includes/navs/nav-javascript.twig" %}
              {% endif %}
    
            </ul>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
