{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>{{ title }}</title>

  <!-- Documentation extras -->
  <link href="docs-assets/css/prism.css" rel="stylesheet">

  <!-- Core CSS - containts customized bootstrap plus new CSS -->
  <link href="../css/avon-main.css" rel="stylesheet">
  <link href="../css/styleguide.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
</head>

<body class="styleguide-body">

  <section>
      <a class="sr-only" href="#content">Skip to main content</a>


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# RENDER BLOCK - CONTENT #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block content %}{% endblock %}



  </section>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="docs-assets/js/email-decode.min.js"></script> -->
  <script src="../js/vendor/jquery/1.10.2/jquery.min.js"></script>
  <script src="../js/vendor/bootstrap.js"></script>
  <script src="../js/vendor/bootstrap-select/bootstrap-select.min.js"></script>
  <script src="docs-assets/js/prism.js"></script>
  <script src="../js/demo/prism-normalize-whitespace.js"></script>
  <script src="../js/vendor/nav-tabs-scrollable.js"></script>
  <script src="../js/vendor/bootstrap.contentsplit.js"></script>
  <script src="../js/vendor/bootstrap.progressSteps.js"></script>
  <script src="../js/vendor/bootstrap.tabcollapse.js"></script>
  <script src="../js/demo/avon-main.js"></script>
  <script src="../js/demo/holder.js"></script>
  <script type="text/javascript">
  // Optional
  Prism.plugins.NormalizeWhitespace.setDefaults({
    'remove-trailing': true,
    'remove-indent': true,
    'remove-initial-line-feed': true,
    'left-trim': true,
    'right-trim': true,
  });
  </script>
  <script src="docs-assets/js/application.js"></script>



  <script>
    window.twttr = (function (d,s,id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
      js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
  </script>

</body>
</html>
