{% extends layouts.base %}


{% if contactType == 'customer' %}
  {% set contactTypeLabel = 'Customer' %}
  {% set contactTypeLabelPlural = 'Customers' %}
  {% set contactTypeCategory = 'customer-or-online-customer' %}
  {% set isEditableCustomerSince = true %}
  {% set isEditableSalesTax = true %}
  {% set isEditableDeliveryOption = true %}

{% elseif contactType == 'customer-online' %}
  {% set contactTypeLabel = 'Online Customer' %}
  {% set contactTypeLabelPlural = 'Customers' %}
  {% set contactTypeCategory = 'customer-or-online-customer' %}
  {% set isEditableEmail = true %}
  {% set isEditablePhone = true %}
  {% set isEditableAddressHome = true %}
  {% set isEditableAddressWork = true %}
  {% set isEditableLanguage = true %}
  {% set isEditableBirthday = true %}
  {% set isEditableCustomerSince = true %}
  {% set isEditableSalesTax = true %}
  {% set isEditableDeliveryOption = true %}

{% elseif contactType == 'team' %}
  {% set contactTypeLabel = 'Team' %}
  {% set contactTypeLabelPlural = 'Team Members' %}
  {% set contactTypeCategory = 'team' %}
{% endif %}


{% set sectionClass = 'page--contacts-detail contacts-detail--' ~ contactType %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page container--flex-nav">

      <header class="row" role="header">
        <div class="col-md-12 d-flex flex-wrap align-items-start">
          {% include 'includes/modules/contacts/contacts-header.twig' %}
        </div>
      </header>

      <hr class="w-100 mb-5">

      {% embed 'layouts/columns-3x9-secondary-nav-flex.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include 'includes/groups/navigation/my-contacts-nav.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <div class="tab-content">
            <div class="tab-pane active" id="mc-details">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-details.twig' %}
            </div>
            <div class="tab-pane" id="mc-follow-ups">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-follow-ups.twig' %}
            </div>
            <div class="tab-pane" id="mc-notes">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-notes.twig' %}
            </div>
            <div class="tab-pane" id="mc-contacthist">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-contact-hist.twig' %}
            </div>

          {% if contactTypeCategory == 'customer-or-online-customer' %}
            <!-- START - CUSTOMER / ONLINE CUSTOEMR ONLY -->
            <div class="tab-pane" id="mc-orderhist">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-order-hist.twig' %}
            </div>
            <!-- END - CUSTOMER / ONLINE CUSTOEMR ONLY -->
          {% endif %}

          {% if contactTypeCategory == 'team' %}
            <!-- START - TEAM ONLY -->
            <div class="tab-pane" id="mc-salesperf">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-sales-perf.twig' %}
            </div>
            <div class="tab-pane" id="mc-transactions">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-transactions.twig' %}
            </div>
            <div class="tab-pane" id="mc-business-dash">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-business-dash.twig' %}
            </div>
            <div class="tab-pane" id="mc-leadership">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-leadership.twig' %}
            </div>
            <div class="tab-pane" id="mc-campaign">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-campaign.twig' %}
            </div>
            <div class="tab-pane" id="mc-reports">
              {% include 'includes/modules/contacts/contact-detail/tab-panes/pane-reports.twig' %}
            </div>
            <!-- END - TEAM ONLY -->
          {% endif %}

          </div>

        {% endblock %}

      {% endembed %}

    </section>

  {% endblock %}

  <!-- START - SEND EMAIL MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/send-email-modal.twig" %}
  <!-- END - SEND EMAIL MODAL -->

  <!-- START - SEND ECARD MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/send-ecard-modal.twig" %}
  <!-- END - SEND ECARD MODAL -->

  <!-- START - FOLLOW-UPS ADD/EDIT MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/follow-ups-add-edit-modal.twig" %}
  <!-- END - FOLLOW-UPS ADD/EDIT MODAL -->

  <!-- START - FOLLOW-UPS DETAILS MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/follow-ups-details-modal.twig" %}
  <!-- END - FOLLOW-UPS DETAILS MODAL -->

  <!-- START - NOTES ADD/EDIT MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/notes-add-edit-modal.twig" %}
  <!-- END - NOTES ADD/EDIT MODAL -->

  <!-- START - GROUPS ADD NEW MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/groups-add-new-edit-modal.twig" %}
  <!-- END - GROUPS ADD NEW MODAL -->

  <!-- START - GROUPS ADD TO MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/groups-add-to-modal.twig" %}
  <!-- END - GROUPS ADD TO MODAL -->

  <!-- START - DELETE MODAL (SAME TEMPLATE FOR ALL) -->
  {% include "includes/modules/modals/modal-either-or-error.twig" %}
  <!-- END - DELETE MODAL (SAME TEMPLATE FOR ALL) -->

  <!-- START - LEARN MORE MODAL -->
  {% include "includes/modules/contacts/contact-detail/modals/learn-more-modal.twig" %}
  <!-- END - LEARN MORE MODAL -->

{% endblock %}
