<!-- START - OFFERS -->
<ul id="your-order-offers" class="your-order-offers list-unstyled">

  {% include 'includes/groups/your-order/single-offer-li.twig' with {
  img: '/images/utility/placeholder.png',
  headerText: '<h5 class="text-capitalize"><strong>$10 Discount</strong></h5>',
  showError: true,
  descriptionText: '<p>Get $10 off of all purchases of Anew Platinum Night Cream during this campaign</p>',
  classes: 'd-inline-block',
  hasQty: true,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

  {% include 'includes/groups/your-order/single-offer-li.twig' with {
  img: '/images/utility/placeholder.png',
  headerText: '<h5 class="text-capitalize"><strong>Content Managed Offer</strong></h5>',
  showError: null,
  descriptionText: '<p>Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse suscipit.</p>',
  hasQty: true,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

  {% include 'includes/groups/your-order/single-offer-li.twig' with {
  img: '/images/utility/placeholder.png',
  headerText: '<h5 class="text-capitalize"><strong>$10 Discount</strong></h5>',
  showError: null,
  descriptionText: '<p>Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse suscipit.</p>',
  hasQty: true,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

</ul>
<!-- START - OFFER DETAILS -->


<!-- START - OFFER DETAILS -->
