<ul id="your-order-pd-extras" class="list-unstyled">

  {% include 'includes/groups/your-order/single-extra-li.twig' with {
  img: '/images/utility/placeholder.png',
  headerText: '<h5 class="text-capitalize"><strong>Avon C08 Brochures</strong></h5>',
  showError: true,
  descriptionText: '<p class="text-muted">Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  indexNum: 1,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}

  {% include 'includes/groups/your-order/single-extra-li.twig' with {
  img: '/images/utility/placeholder.png',
  headerText: '<h5 class="text-capitalize"><strong>Avon C08 Brochures</strong></h5>',
  showError: false,
  descriptionText: '<p class="text-muted">Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  indexNum: 3,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}

</ul>