 <p class="text-muted">{{ fpo.paragraph }}</p>

<section>
  <!-- ENROLLMENT STATUS-->
  {% set rowContent  %}
    <!-- Developer note: Use class "d-none" to hide or show enrolled status -->
    <!-- START - SHOW WHEN NOT ENROLLED -->
    <span class="enroll-item--not-enrolled">
      Not enrolled <button class="btn btn-sm btn-default btn-soft ml-2 enroll-item--start-enrollment-trigger">Enroll Now</button>
    </span>
    <!-- END - SHOW WHEN NOT ENROLLED -->

    <!-- START - SHOW WHEN ENROLLED -->
    <span class="enroll-item--enrolled text-success">
      <span class="lt-icon lt-large lt-checkmark lt-medium align-middle"></span> Enrolled
    </span>
    <!-- END - SHOW WHEN ENROLLED -->
  {% endset %}

  {% include 'includes/groups/lists/label-content/row.twig' with {
    rowLabel: '<h6 class="m-sm-0 d-inline-block">Enrollment Status</h6>
    <span class="lt-icon lt-tip lt-medium align-middle" data-toggle="tooltip" data-placement="top" title="Some helpful information that a user might want to know."></span>',
    rowContent: rowContent
  }%}
</section>

<!-- START - SHOW WHEN NOT ENROLLED -->
{% include 'includes/groups/user-editable/cta-edit.twig' with { class: 'enroll-item--enrolled'} %}
<!-- END - SHOW WHEN NOT ENROLLED -->
