{% if type is not defined %}
  {% set type = 'text' %}
{% endif %}
{% if classes %}
  {% set classes = ' ' ~ classes %}
{% endif %}
{% if size %}
  {% set size = ' size="' ~ size ~ '" ' %}
{% endif %}
{% if maxlength %}
  {% set maxlength = ' maxlength="' ~ maxlength ~ '" ' %}
{% endif %}
{% if id %}
  {% set id = ' id="' ~ id ~ '" ' %}
{% endif %}
{% if placeholder %}
  {% set placeholder = ' placeholder="' ~ placeholder ~ '" ' %}
{% endif %}
{% if includeValueData %}
  {% set data = ' data-initial-value="' ~ theValue ~ '" ' %}
{% endif %}
{% if theValue is not null %}
  {% set theValue = ' value="' ~ theValue ~ '" ' %}
{% endif %}
{% if hasInlineErrorIcon %}
  {% set errorClass = 'has-error--icon-inline' %}
{% endif %}
{% if hasAbsoluteErrorIcon %}
  {% set errorClass = 'has-error--icon-inline-absolute' %}
{% endif %}
{% if (hasInlineErrorIcon) or (hasAbsoluteErrorIcon) %}
  {% set errorIcon %}
    {% include "includes/elements/forms/label-error-icon.twig" %}
  {% endset %}
  {% set hasInlineErrorIconStart = '<span class="' ~ errorClass ~ '">' %}
  {% set hasInlineErrorIconEnd = '</span">' %}
{% endif %}
{% if readonly %}
  {% set attrs = attrs ~ ' readonly' %}
  {% set listeners = listeners ~ ' onclick="this.select()"' %}
{% endif %}
{% if onInputJs %}
  {% set oninput = 'oninput="' ~ onInputJs ~ '" ' %}
{% endif %}
{% if required %}
  {% set required = ' required ' %}
{% endif %}
{% if disabled %}
  {% set disabled = ' disabled ' %}
{% endif %}
{% if hasCalendar %}
  {% set calendar %}
    {% include "includes/elements/forms/label-calendar-icon.twig" %}
    {% include 'includes/groups/forms/datepicker-rendered-from-you-avon-day.twig' with { class: 'd-none'} %}
  {% endset %}
{% endif %}
{{ hasInlineErrorIconStart }}
{{ errorIcon }}<input type="{{ type }}" class="form-control{{ classes }}"{{ id }}{{ placeholder }}{{ theValue }}{{ size }}{{ maxlength }}{{ data }}{{ attrs }}{{ listeners }}{{ oninput }}{{ required }}{{ disabled }}>
{{ hasInlineErrorIconEnd }}
{{ calendar }}
