{% if haslabelErrorIcon %}
  {% set errorIcon %}
    {% include "includes/elements/forms/label-error-icon.twig" %}
  {% endset %}
{% endif %}

<label class="control-label {{ classes }}" for="{{ id }}">{{ errorIcon }}{{ mainLabel }}</label>
{% if labelAddon %}
  <span class="control-label-addon {% if labelAddonRight %}right{% endif %}">{{ labelAddon }}</span>
{% endif %}
