{% if name %}
  {% set name = ' name="' ~ name ~ '"' %}
{% endif %}
{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if theValue %}
  {% set theValue = ' value="' ~ theValue ~ '"' %}
{% endif %}
{% if checked %}
  {% set checked = ' checked ' %}
{% endif %}
{% if disabled %}
  {% set disabled = ' disabled ' %}
{% endif %}
{% if dataAttrs %}
  {% set dataAttrs = ' ' ~ dataAttrs ~ ' ' %}
{% endif %}

{{ thelabel ? theLabel : '' }}

{% if haslabelErrorIcon %}
  {% set errorIcon %}{% include "includes/elements/forms/label-error-icon.twig" %}{% endset %}
{% endif %}

{% if haslabelTooltip %}
  {% set tipIcon %}
    {% include "includes/elements/forms/label-tooltip-icon.twig" with {
      dataTarget: dataTarget
    } %}
  {% endset %}
{% endif %}

{% if haslabelModal %}
  {% set tipIcon %}
    {% include "includes/elements/forms/label-modal-icon.twig" with {
      dataTarget: dataTarget
    } %}
  {% endset %}
{% endif %}

<div class="radio {{ classes }} {% if wrapLabel %}wrap-label{% endif %}">
  <label class="control-label">
    <input type="radio" {{ name }} {{ id }}{{ theValue }}{{ checked }}{{ disabled }}{{ dataAttrs }}>
    <span class="{% if not wrapLabel %}mr-4{% endif %}"></span>
    {{ errorIcon }}{{ theLabel }}{{ tipIcon }}
  </label>
</div>
