{# styleguide/index.twig #}
{% set title = "Styleguide CSS" %}
{% set slug = "styleguide-css" %}
{% extends "styleguide/layouts/styleguide-main.twig" %}
 

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}
  

  <!-- SECTION - Containers-->
  {% include "styleguide/includes/css/containers.twig" %}

  <!-- SECTION - GRID SYSYEM -->
  {% include "styleguide/includes/css/grid-system.twig" %}

  <!-- SECTION - SPACING -->
  {% include "styleguide/includes/css/spacing.twig" %}

  <!-- SECTION - HELPER CLASSES -->
  {% include "styleguide/includes/css/helper-classes.twig" %}

  <!-- RESPONSIVE UTILITIES -->
  {% include "styleguide/includes/css/responsive-utilities.twig" %}

  <!-- SECTION - CODE -->
  {% include "styleguide/includes/css/code.twig" %}

  <!-- SECTION - SASS -->
  {% include "styleguide/includes/css/sass.twig" %}

  
{% endblock %}