{# styleguide/index.twig #}
{% set title = "Styleguide Elements" %}
{% set slug = "styleguide-elements" %}
{% extends "styleguide/layouts/styleguide-main.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}


  <!-- SECTION - COLOR -->
  {% include "styleguide/includes/elements/color.twig" %}

  <!-- SECTION - TYPOGRAPHY -->
  {% include "styleguide/includes/elements/typography.twig" %}

  <!-- SECTION - TABLES -->
  {% include "styleguide/includes/elements/tables.twig" %}

  <!-- SECTION - FORM ELEMENTS -->
  {% include "styleguide/includes/elements/forms.twig" %}

  <!-- SECTION - BUTTONS -->
  {% include "styleguide/includes/elements/buttons.twig" %}

  <!-- SECTION - IMAGES -->
  {% include "styleguide/includes/elements/images.twig" %}

  <!-- SECTION -  ICONS -->
  {% include "styleguide/includes/elements/customicons.twig" %}

  <!-- SECTION -  AVATARS -->
  {% include "styleguide/includes/elements/avatars.twig" %}

  <!-- SECTION - LABELS -->
  {% include "styleguide/includes/elements/labels.twig" %}

  <!-- SECTION - BADGES -->
  {% include "styleguide/includes/elements/badges.twig" %}

  <!-- SECTION - ALERTS -->
  {% include "styleguide/includes/elements/alerts.twig" %}

  <!-- SECTION - PROGRESS BARS -->
  {% include "styleguide/includes/elements/progress.twig" %}



{% endblock %}
