{# styleguide/index.twig #}
{% set title = "Styleguide Groups" %}
{% set slug = "styleguide-groups" %}
{% extends "styleguide/layouts/styleguide-main.twig" %}

{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{% block styleguideContent %}

  <!-- SECTION -  FORMS -->
  {% include "styleguide/includes/groups/forms.twig" %}

  <!-- SECTION -  DROPDOWNS -->
  {% include "styleguide/includes/groups/dropdowns.twig" %}

  <!-- SECTION - BUTTON GROUPS -->
  {% include "styleguide/includes/groups/btn-groups.twig" %}

  <!-- SECTION - BUTTON DROPDOWNS -->
  {% include "styleguide/includes/groups/btn-dropdowns.twig" %}

  <!-- SECTION - INPUT GROUPS -->
  {% include "styleguide/includes/groups/input-groups.twig" %}

  <!-- SECTION - NAVS -->
  {% include "styleguide/includes/groups/nav.twig" %}

  <!-- SECTION - NAVBAR -->
  {% include "styleguide/includes/groups/navbar.twig" %}

  <!-- SECTION - DRAWERS -->
  {% include "styleguide/includes/groups/drawers.twig" %}

  <!-- SECTION - BREADCRUMBS -->
  {% include "styleguide/includes/groups/breadcrumbs.twig" %}

  <!-- SECTION - PAGINATION -->
  {% include "styleguide/includes/groups/pagination.twig" %}

  <!-- SECTION - THUMBNAILS -->
  {% include "styleguide/includes/groups/thumbnails.twig" %}

  <!-- SECTION - BOXES -->
  {% include "styleguide/includes/groups/boxes.twig" %}

  <!-- SECTION - MEDIA OBJECT -->
  {% include "styleguide/includes/groups/media.twig" %}

  <!-- SECTION - LIST GROUP -->
  {% include "styleguide/includes/groups/list-group.twig" %}

  <!-- SECTION - Panels -->
  {% include "styleguide/includes/groups/panels.twig" %}

  <!-- SECTION - WELLS -->
  {% include "styleguide/includes/groups/wells.twig" %}

{% endblock %}