{# styleguide/index.twig #}
{% set title = "Styleguide Modules" %}
{% set slug = "styleguide-modules-angular" %}
{% extends "styleguide/layouts/styleguide-main.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




  <h1 id="global" class="bs-headline">Angular</h1>

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# ANGULAR - DATEPICKER - MONTH #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Angular Calendar - Month",
    description:  "The global header is composed of the two utility navs shown above and the primary navigation list",
    slug:         "global-angular-datepicker-month",
    path:         "includes/groups/forms/datepicker-rendered-from-you-avon-day-both.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# ANGULAR - DATEPICKER - YEAR #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Angular Calendar - Year",
    slug:         "global-angular-datepicker-year",
    path:         "includes/groups/forms/datepicker-rendered-from-you-avon-year-both.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# ANGULAR - SORTABLE TABLE - FROM YORUAVON #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Angular Sortable Table",
    slug:         "global-angular-sortable-table-youravon",
    description:  "Taken from youravon.com. <br>This shows: 1) sortable but not active 2) active descending 3) active ascending",
    path:         "styleguide/includes/modules/angular-sortable-table-from-youravon.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}






{% endblock %}
