{% extends "layouts/modal.twig" %}
{% set modalId = 'checkout-quickpay-enrollment-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h6 class="modal-title">Quickpay Enrollment</h6>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  {% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}

  <h4 class="text-center my-4">Enroll in QuickPAY!</h4>
  <p class="text-center">Enroll in Avon's secure online payment system, QuickPAY, and never worry about mailing a check again. With QuickPAY, you...</p>
  <p class="text-center font-weight-bold">To get started, complete the form below as part of a three-step online process.</p>

  
  
  <form role="form">
    <div class="form-group">
      <label class="control-label">Name on Account</label>
      {% include components.elements.forms.input with {
        placeholder: 'Janet Jo'
      } %}
    </div>

    <div class="form-group has-error">
      <label class="control-label">{% include "includes/elements/forms/label-error-icon.twig" %}Routing Number</label>
      <span class="lt-icon lt-tip lt-medium align-middle"></span>
      {% include components.elements.forms.input with {
        placeholder: '01340013',
        haslabelErrorIcon: true,
        hasInlineErrorIcon: null,
        hasAbsoluteErrorIcon: null,
        classes: 'form-control'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Bank Name</label>
      <span class="lt-icon lt-tip lt-medium align-middle"></span>
      {% include components.elements.forms.input with {
        placeholder: 'Citi'
      } %}
      <a href="#" data-toggle="modal" data-target="#checkout-quickpay-enrollment-learn-more-modal">Learn More</a>
    </div>

    <div class="form-group">
      <label class="control-label">Checking Account Number</label>
      <span class="lt-icon lt-tip lt-medium align-middle"></span>
      {% include components.elements.forms.input with {
        placeholder: '83095345'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Mother's Maiden Name</label>
      {% include components.elements.forms.input with {
        placeholder: 'Williams'
      } %}
    </div>
  </form>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkout-quickpay-enrollment-review-modal">Save</button>

{% endblock %}
