{% set idPrefix = 'contact-details-' %}
{% set showTheValue = true %}
{% set showPlaceholder = false %}

<form role="form">
  <!-- ADDRESS -->
  <div class="form-group">
    {% include 'includes/groups/forms/generic/address.twig' with {
    'idPrefix': idPrefix,
    'showTheValue': showTheValue,
    'showPlaceholder': showPlaceholder,
    'mainLabel': 'Street Address'
    }%}
  </div>
  <div class="form-group">
    {% include 'includes/groups/forms/generic/address-2.twig' with {
    'idPrefix': idPrefix,
    'showTheValue': false,
    'showPlaceholder': true
    }%}
  </div>
  <!-- ZIP AND CITY -->
  <div class="row">
    <div class="col-xs-4 pr-0">
      <div class="form-group">
        {% include 'includes/groups/forms/generic/zip.twig' with {
        'idPrefix': idPrefix,
        'showTheValue': showTheValue,
        'showPlaceholder': showPlaceholder
        }%}
      </div>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        {% include 'includes/groups/forms/generic/city.twig' with {
        'idPrefix': idPrefix,
        'showTheValue': showTheValue,
        'showPlaceholder': showPlaceholder
        }%}
      </div>
    </div>
  </div>
  <!-- STATE -->
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group has-feedback">
        {% include 'includes/groups/forms/generic/state.twig' with {
        'idPrefix': idPrefix,
        'selectFirst': true
        }%}
      </div>
    </div>
  </div>

  {% if not hideAddLink %}
  <!-- START - HIDE IF WORK ADDRESS HAS ALREADY BEEN DEFINED -->
  <!-- To hide, add the class "d-none" to <div class="row mb-4"> -->
  <div class="row mb-4">
    <div class="col-xs-12">
      <a class="underline d-flex align-items-center" href="">
        <span>+ Add work address</span>
      </a>
    </div>
  </div>
  <!-- END - HIDE IF WORK ADDRESS HAS ALREADY BEEN DEFINED -->
  {% endif %}

  {% include 'includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.twig' %}
</form>
