<form class="" role="form">
  <div class="form-group mb-4">
    <div class="row">
      <div class="col-xs-9">
        <label class="control-label">Month</label>
        <select class="form-control selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
          <option>January</option>
          <option>February</option>
          <option>March</option>
          <option selected="true">April</option>
        </select>
      </div>
      <div class="col-xs-3 pl-0">
        <label class="control-label">Date</label>
        <input type="number" class="form-control" value="24">
      </div>
    </div>
  </div>
  {% include 'includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.twig' %}
</form>
