<form role="form">
  <div class="form-group">
    {% include 'includes/elements/forms/radio.twig' with {id: 'deliveryBoth', name: 'deliveryOption', theValue: 'Both Representative and Direct Delivery', theLabel: 'Both Representative and Direct Delivery', checked: true} %}
    {% include 'includes/elements/forms/radio.twig' with {id: 'deliveryDirect', name: 'deliveryOption', theValue: 'Direct Delivery Only (default)', theLabel: 'Direct Delivery Only (default)', checked: false} %}
  </div>
  {% include 'includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.twig' %}
</form>
