<form role="form">
  <div class="form-group">
    <input type="email" class="form-control" value="test@gmail.com">
  </div>
  {% include 'includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.twig' %}
</form>
