<form role="form">
  <div class="form-group">
    {% include 'includes/elements/forms/radio.twig' with {id: 'salesTaxDefault', classes: 'sales-tax-radio', name: 'salesTax', theValue: '0.00% (default)', theLabel: '0.00% (default)', checked: true} %}
    {% include 'includes/elements/forms/radio.twig' with {id: 'salesTaxCustom', classes: 'sales-tax-radio', name: 'salesTax', theValue: 'Custom sales tax for this customer', theLabel: 'Custom sales tax for this customer', checked: false} %}
  </div>
  <div class="form-group has-feedback row">
    <div class="cd-sales-tax col-xs-12 pr-0">
      {% include 'includes/elements/forms/input.twig' with {id: 'salesTaxCustomPercent', type: 'number', value: '0.00', disabled: true} %}
      <span class="form-control-feedback">%</span>
    </div>
  </div>
  <p class="cd-sales-tax-message small">Sales tax must be in 3 decimal place format (ex. 7.50%)</p>
  {% include 'includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.twig' %}
</form>
