<div class="alert alert-info">Select the widgets you would like to appear on your home page under the “Just For You” section</div>

{% include "includes/groups/boxes/primary/item-container.twig" with {
  hasToolbar: true,
  carouselId: 'select-widget-modal',
  items: components.modules.widgets.primary,
  isWidget: true
} %}
