<!-- START - TAB CONTENT -->
<section class="tab-content mt-4">

  <!-- START - TAB PANEL FROM AVON -->
  <section class="tab-pane active" id="message-center-avon">
    {% include 'includes/modules/message-center/tab-panel-from-avon.twig' %}
  </section>
  <!-- END - TAB PANEL FROM AVON -->

  <!-- START - TAB PANEL SYSTEM MESSAGES -->
  <section class="tab-pane" id="message-center-system">
    {% include 'includes/modules/message-center/tab-panel-system-messages.twig' %}
  </section>
  <!-- END - TAB PANEL SYSTEM MESSAGES -->

</section>
<!-- START - TAB CONTENT -->
