<a href="#" class="link-plain" data-toggle="popover" data-container="body" data-placement="bottom" data-html="true" id="popover-cart">
  <span class="small text-uppercase text-muted-medium hidden-xs-header"><strong>Start an Order</strong></span>
  <span class="lt-icon lt-cart lt-large badged-icon">
    <span class="badge badge--align-right">12</span>
  </span>
</a>

<!-- Note :: js for the cart popover is located in avon-main.js near the bottom on document ready - $("#popover-cart") -->
<div id="popover-cart-content" class="hide">
  {% include "includes/modules/your-order/order-overview.twig" with { btnText: 'View Order', isPopover: true } %}
</div>
