<ul class="nav nav-tabs navbar-main__list m-0">

  <li class="visible-xs-block-header">
    <a href="#" class="large">Home</a>
  </li>

  <li class="active has-sub-items dropdown">

    <a class="dropdown-toggle large" href="#" id="productsDrop" data-toggle="dropdown">Productos<span class="lt-icon lt-carat-down lt-medium hidden-xs-header"></span></a>

    <!-- sub-menu toggle -->
    <a class="toggle off-canvas-nested text-right visible-xs-flex-header" data-toggle="off-canvas-collapse" data-target=".navbar-products">
      <span class="lt-icon lt-carat-right lt-large ml-auto"></span>
    </a>
    <span class="sr-only">Toggle sub-menu</span>

    <!-- Sub nav list -->
    {% include 'includes/groups/navigation/global-header-nav/elements/primary-nav/sub-nav-list-products.twig' %}

  </li>

  <li class="has-sub-items dropdown">

    <a class="dropdown-toggle large" href="#" id="ordersDrop" data-toggle="dropdown">Pedidos<span class="lt-icon lt-carat-down lt-medium hidden-xs-header"></span></a>

    <!-- sub-menu toggle -->
    <a class="toggle off-canvas-nested text-right visible-xs-flex-header" data-toggle="off-canvas-collapse" data-target=".navbar-orders">
      <span class="lt-icon lt-carat-right lt-large ml-auto"></span>
    </a>
    <span class="sr-only">Toggle sub-menu</span>

    <!-- Sub nav list -->
    {% include 'includes/groups/navigation/global-header-nav/elements/primary-nav/sub-nav-list-orders.twig' %}

  </li>

  <li>
    <a href="#" class="large">Oficina Web</a>
  </li>
  <li>
    <a href="#" class="large">Campaign Insider</a>
  </li>
  <li>
    <a href="#" class="large">Earnings</a>
  </li>
  <li>
    <a href="#" class="large">Premios Y Reconocimientos</a>
  </li>
  <li>
    <a href="#" class="large">Liderazgo</a>
  </li>
</ul>
<!-- END - MAIN MENU LIST -->
