<!-- START - UTILITY NAV 2 -->
<nav class="navbar navbar-inverse navbar-static-top navbar--utility-2 border-0 d-flex">

<!-- START - MORE TOOLS LOGOS -->
{% include 'includes/groups/navigation/global-header-nav/elements/utility-nav-2/tools-logo-list.twig' %}
<!-- END - MORE TOOLS LOGOS -->

<!-- START - ACCOUNT SECTION -->
{% include 'includes/groups/navigation/global-header-nav/elements/utility-nav-2/account-list.twig' %}
<!-- END - ACCOUNT SECTION -->

</nav>
<!-- END - UTILITY NAV 2 -->
