<!-- START - GLOBAL HEADER NAV CONTAINER -->
<nav class="navbar navbar--primary-nav navbar-default border-bottom d-flex flex-wrap align-items-center justify-content-center" role="navigation">

  <!-- ghost placeholder - this invisible div holds a relative position for utility nav on desktop -->
  <div class="primary-nav__ghost"></div>

  <!-- search -->
  <div class="primary-nav__search">
    {% include 'includes/modules/search/global-search.twig' %}
  </div>

  <!-- logo -->
  <div class="primary-nav__logo flex-fill">
    {% include 'includes/elements/images/logo-your-avon.twig' %}
  </div>

  <!-- order / cart -->
  <div class="primary-nav__cart">
    {% include 'includes/groups/navigation/global-header-nav/elements/primary-nav/btn-cart.twig' %}
  </div>

  <!-- mobile menu toggle / hamburger -->
  <button class="primary-nav__toggle navbar-toggle p-0 m-0" type="button" data-toggle="off-canvas-collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <!-- header nav & off-canvas mobile menu -->
  <div class="primary-nav__content navbar-collapse off-canvas flex-wrap align-content-start justify-content-center">
    {% include 'includes/groups/navigation/global-header-nav/header-nav.twig' %}
  </div>

</nav>
<!-- END - GLOBAL HEADER NAV CONTAINER -->


<!-- START - GLOBAL CAMPAIGN TIMER -->
<section class="alert alert-level-header alert-strong alert-neutral alert-campaign-timer">
  <span class="alert-msg-icon lt-icon lt-medium lt-clock align-middle hidden-xs"></span>
  <span class="alert-msg-txt">Campaign 4 is due by midnight on April 24, 2018</span>
</section>
<!-- END - GLOBAL CAMPAIGN TIMER -->
