<!-- Close button -->
{% include 'includes/groups/navigation/global-header-nav/elements/shared/btn-close.twig' with {
  class: '',
  dataTarget: '.navbar-collapse'
}%}

<!-- Utility nav 2 -->
{% include 'includes/groups/navigation/global-header-nav/header-utility-nav-2.twig' %}

<!-- Utility nav 1 -->
{% include 'includes/groups/navigation/global-header-nav/header-utility-nav-1.twig' %}

<!-- Primary nav list -->
{% include 'includes/groups/navigation/global-header-nav/elements/primary-nav/primary-nav-list.twig' %}
