<!-- START - HEADER LEVEL MESAGE -->
{% include "includes/groups/alerts/alert-level-template.twig" with {
  alertIcon: 'lt-checkmark',
  alertHeadline: 'Item has been added',
  alertBody: null,
  alertBtnText: 'View your order',
  alertClasses: 'alert-success alert-strong',
  alertLevel: 'header',
  alertDismissable: alertDismissable,
  alertId: null
} %}
<!-- END - HEADER LEVEL MESAGE -->