<!-- START - PRODUCT IMAGE MODAL -->
{% include "includes/modules/product/detail/product-image-modal.twig" with { isInQuickShopModal: isInQuickShopModal } %}
<!-- END - PRODUCT IMAGE MODAL -->

<!-- START - PRODUCT VIDEO MODAL -->
{% include "includes/modules/product/detail/product-video-modal.twig" with { isInQuickShopModal: isInQuickShopModal } %}
<!-- END - PRODUCT VIDEO MODAL -->