<!-- START - PRODUCT DETAILS -->

<!-- START - PRODUCT ID -->
<h6 class="text-muted mt-2 w-100">728-402</h6>
<!-- START - PRODUCT ID -->

<!-- START - TITLE -->
<h3 class="pdp-product-title mt-2 w-100">Anew Skinvincible Deep Recovery Cream</h3>
<!-- END - TITLE -->

{% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: 'my-3' } %}

<!-- START - VIEW MORE INFO LINK -->
<!-- Dev note: Only appears in Quick SHop modal -->
<div class="w-100">
  <a href="#" class="pdp-more-info-link my-4 underline">View more info</a>
</div>

<!-- END - VIEW MORE INFO LINK -->



<!-- START - PRICE -->
<h3 class="d-inline-block align-middle mr-4 my-3 my-md-4">
  <!-- Developer note: If "Regular price" is not shown below, remove .text-primary to make the proce black.-->
  <span class="pdp-price text-primary">$9.99</span>
</h3>
<!-- END - PRICE -->

<!-- START - CAMPAIGN SELECT -->
<div class="pdp-campaign-select form-group has-feedback align-middle my-3 my-md-4">
  <div class="dropdown dropdown--pdp-campaign-select">
    <button class="btn btn-select input-sm form-control dropdown-toggle" id="pdpCampaignSelect" data-toggle="dropdown">
      <span class="campaign-name">CO4</span>
    </button>
    <span class="lt-icon lt-triangle-down form-control-feedback"></span>
    <ul class="dropdown-menu dropdown-menu--alt-hover pull-center" role="menu" aria-labelledby="pdpCampaignSelect">
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO5 - Next Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO4 - Current Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO3 - Previous Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END - CAMPAIGN SELECT -->

<!-- START - CAMPAIGN TEXT -->
<div class="pdp-campaign-text">
  <span class="text-muted">Campaign 04</span>
</div>
<!-- END - CAMPAIGN TEXT -->

<!-- START - PRICE AND OFFERS -->
<p class="my-0 my-md-3 w-100">
  <span class="text-muted col-xs-12 col-sm-6 px-0 my-3 my-md-0">Regular price:
    <span class="strike-through">$12.99</span>
  </span>
  <span class="col-xs-12 col-sm-6 px-0 my-3 my-md-0">
    <a class="pdp-view-offers underline " href="#" data-toggle="modal" data-target="#product-offers-modal">View Offers <span class="pdp-offers">(1)</span></a>
  </span>
</p>
<!-- END - PRICE AND OFFERS -->

<!-- START - STOCK STATUS MESSAGES -->
<div class="pdp-stock-status my-3">
  {% include 'includes/groups/your-order/message-status-in-stock.twig' %}
  {% include 'includes/groups/your-order/message-status-out-of-stock.twig' %}
  {% include 'includes/groups/your-order/message-status-sold-out.twig' %}
  <span class="small pl-4 nowrap">
    <a href="javascript:void(0)" class="underline">Auto-Replenish</a> <a href="javascript:void(0)" class="lt-icon lt-info lt-medium" data-toggle="modal" data-target="#auto-replenish"></a>
  </span>
</div>
<!-- END - STOCK STATUS MESSAGES -->

<!-- START - AUTO-REPLENISH MODAL -->
{% include "includes/modules/product/detail/auto-replenish.twig" %}
<!-- END - AUTO-REPLENISH MODAL -->

<!-- START - VARIANT SELECT -->
<div class="pdp-variant-select col-xs-12 px-0">
  <div class="form-group has-feedback text-left d-inline-block col-xs-12 p-0 m-0">
    <label class="control-label" for="pdpVariantSelect">Shade</label>
    <div class="dropdown">
      <button class="btn btn-select form-control dropdown-toggle pl-2" id="pdpVariantSelect" data-toggle="dropdown">
        <!-- DEVELOPER NOTE :: the idea with the inline style is that you'll be able to control it easily with js -->
        <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #E0B0FF;"></span>
        <span class="variant-title d-inline-block align-middle">Mad for Mauve</span>
        -
        <span class="variant-id d-inline-block align-middle">654-473</span>
        <span class="lt-icon lt-triangle-down form-control-feedback"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu--scrollable" role="menu" aria-labelledby="pdpVariantSelect">
        {% set variant_list %}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: salmon;"></span>
            <span class="variant-title d-inline-block align-middle">Salmon</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #000;"></span>
            <span class="variant-title d-inline-block align-middle">Black</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: yellow;"></span>
            <span class="variant-title d-inline-block align-middle">Yellow</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #f00;"></span>
            <span class="variant-title d-inline-block align-middle">Red</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        {% endset %}

        {{ variant_list }}
        {{ variant_list }}
        {{ variant_list }}
        {{ variant_list }}
        {{ variant_list }}
      </ul>
      <!-- end .dropdown-menu -->
    </div>
    <!-- end .dropdown -->
  </div>
  <!-- end .form-group -->
</div>
<!-- END - VARIANT SELECT -->

<div class="col-xs-12 p-0">
  <!-- START - QUANTITY -->
  <div class="pdp-quantity-input col-xs-4 col-md-3 px-0">
    <div class="form-group has-error text-left p-0 m-0 pr-4 pb-3 has-error--absolute-2-line has-error">
      {% include components.groups.forms.inputAndLabel with {
        id: 'pdpQuantity',
        mainLabel: 'Quantity',
        haslabelErrorIcon: true,
        hasInlineErrorIcon: null,
        hasAbsoluteErrorIcon: null,
        classes: 'form-control'
      } %}
      <p class="text-danger small label-abs"><strong ng-show="demoError" class="ng-binding ng-hideX" aria-hidden="true">You have exceeded your demo limit. Please modify the quantity.</strong></p>
    </div>
  </div>
  <!-- END - QUANTITY -->

  <!-- START - CUSTOMER SELECT -->
  <div class="pdp-customer-select col-xs-8 col-md-9 px-0 mb-0 mb-md-3 pb-3 customer-select-autocomplete">
    {% include 'includes/modules/customer-orders/customer-select-autocomplete.twig' with {
      formGroupClasses: 'text-left'
    } %}
  </div>
  <!-- END - CUSTOMER SELECT -->
</div>

<!-- START - STOCK MESSAGES CONTAINER -->
<div class="pdp-stock-msg clearfix border-top text-left px-0 pt-5 my-3">

  <!-- START - OUT OF STOCK MESSAGE -->
  <div class="form-group has-feedback d-inline-block col-xs-12 p-0 m-0">
    <p><strong>More on the way</strong></p>
    <p class="small">This item is currently out of stock, but we are expecting more soon. Sign up to be notified as soon as it's available.</p>
    <p class="small">Thanks! We'll email you at <strong>jane.johnson@gmail.com</strong> as soon as it's back in stock.</p>
  </div>
  <!-- END - OUT OF STOCK MESSAGE -->

  <!-- START - SOLD OUT MESSAGE -->
  <div class="form-group d-inline-block col-xs-12 p-0 m-0">
    {% include 'includes/groups/your-order/message-title-this-product-is-sold-out.twig' %}
    <p class="small">This item is currently unavailable. Lorem ipsum dolor sit amet, and view similar products.</p>
  </div>
  <!-- END - SOLD OUT MESSAGE -->

</div>
<!-- END - STOCK MESSAGES CONTAINER -->

<!-- START - CTA BUTTONS -->
<div class="col-xs-12 p-0">

  <!-- START - NOTIFY BUTTON -->
  <button class="btn btn-default mt-4 col-xs-12">
    Notify me when in stock
  </button>
  <!-- END - NOTIFY BUTTON -->

  <!-- START - SIMILAR PRODUCTS BUTTON -->
  <button class="btn btn-default mt-4 col-xs-12">
    View similar products
  </button>
  <!-- END - SIMILAR PRODUCTS BUTTON -->

  <!-- START - ADD TO ORDER BUTTON -->
  <button class="btn btn-primary mt-4 col-xs-12">
    Add to order
  </button>
  <!-- END - ADD TO ORDER BUTTON -->

  <!-- START - FUTURE ORDER BUTTON -->
  <button class="btn btn-default mt-4 col-xs-12">
    Add to future order
  </button>
  <!-- END - FUTURE ORDER BUTTON -->

</div>
<!-- END - CTA BUTTONS -->

<!-- START - SOCIAL ICONS -->
<div id="pdp-imgs__social-mobile" class="pl-2 my-4 hidden-smX">
  <!-- Developer note: Icons get cloned here on page load via Javascript. Could not acheive with CSS. -->
</div>
<!-- END - SOCIAL ICONS -->





<!-- END - PRODUCT DETAILS -->
