<!-- START - RESPONSIVE CAROUSEL -->
<div id="pdp-images" class="carousel carousel--responsive slide pt-2 mb-5 mb-md-0" data-ride="carousel" data-interval="false">

  <!-- START - INDICATORS -->
  <ol class="carousel-indicators visible-xs">
    <li data-target="#pdp-images" data-slide-to="0" class="active"></li>
    <li data-target="#pdp-images" data-slide-to="1"></li>
    <li data-target="#pdp-images" data-slide-to="2"></li>
    <!-- <li data-target="#pdp-images" data-slide-to="3"></li> -->
    <li data-toggle="modal" data-target="#product-video" aria-hidden="true" data-slide-to="3"></li>
  </ol>
  <!-- END - INDICATORS -->

  <!-- START - CAROUSEL INNER -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-product-image"  data-src="/images/fpo/anew_fade-bg-lg.png" aria-hidden="true">
        <img src="/images/fpo/anew_fade-bg-lg.png" alt="">
      </a>
    </div>
    <div class="item">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-product-image"  data-src="/images/fpo/anew_sm.png" aria-hidden="true">
        <img src="/images/fpo/anew_sm.png" alt="">
      </a>
    </div>
    <div class="item">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-product-image"  data-src="/images/fpo/anew_lg.png" aria-hidden="true">
        <img src="/images/fpo/anew_lg.png" alt="">
      </a>
    </div>
    <div class="item item--product-video">
      <div class="play-icon">
        <span class="lt-icon lt-play"></span>
      </div>
      <a href="javascript:void(0)" data-toggle="modal" data-target="#product-video"  data-src="/images/fpo/product-alt.jpg" aria-hidden="true">
        <img src="/images/fpo/product-alt.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- END - CAROUSEL INNER -->

  <!-- START - CAROUSEL CONTROLS -->
  <a class="left carousel-control visible-xs" href="#pdp-images" data-slide="prev">
    <span class="lt-icon lt-left lt-large"></span>
  </a>
  <a class="right carousel-control visible-xs" href="#pdp-images" data-slide="next">
    <span class="lt-icon lt-right lt-large"></span>
  </a>
  <!-- END - CAROUSEL CONTROLS -->

  <!-- START - CAROUSEL THUMBS -->
  <div class="carousel-thumbs clearfix hidden-xs mt-4">
    <div class="row">

      <div class="col-xs-3 mb-3">
        <a href="#" class="thumbnail thumbnail--square">
          <img src="/images/fpo/anew_fade-bg-lg.png" alt="..."/>
        </a>
      </div>

      <div class="col-xs-3 mb-3">
        <a href="#" class="thumbnail thumbnail--square">
          <img src="/images/fpo/anew_sm.png" alt="..."/>
        </a>
      </div>

      <div class="col-xs-3 mb-3">
        <a href="#" class="thumbnail thumbnail--square">
          <img src="/images/fpo/anew_lg.png" alt="..."/>
        </a>
      </div>

      <div class="col-xs-3 mb-3">
        <!-- <a href="javascript:void(0)" class="thumbnail thumbnail--square" data-toggle="modal" data-target="#product-video" aria-hidden="true"> -->
        <a href="javascript:void(0)" class="thumbnail thumbnail--square thumbnail--video" data-toggle="modal" data-target="#product-video">
          <div class="play-icon">
            <span class="lt-icon lt-play"></span>
          </div>
        </a>
      </div>

    </div>

  </div>
  <!-- END - CAROUSEL THUMBS -->

  </div>
  <!-- END - RESPONSIVE CAROUSEL -->

  <!-- START - SOCIAL ICONS -->
  <div id="pdp-imgs__social-desktop" class="hidden-xs  mt-5 pt-3">
    <div id="pdp-imgs__social" class="pdp-imgs__social">
      {% include "includes/modules/global/social-icons.twig" %}
    </div>
  </div>
  <!-- END - SOCIAL ICONS -->

  <!-- START - PRODUCT VIDEO MODAL -->
  {% include "includes/modules/product/detail/product-video-modal.twig" %}
  {% include "includes/modules/product/detail/product-image-modal.twig" %}
  <!-- END - PRODUCT VIDEO MODAL -->
