{% extends "layouts/modal-lg-no-footer.twig" %}
{% set modalId = 'quick-shop-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <!-- DEV NOTE :: this button only displays if .nested class is present on modal -->
  <button type="button" class="close back link-primary pull-left" data-toggle="modal" data-target="#product-list-modal" data-direction="back" aria-hidden="true">
    <span class="sr-only">Go back</span>
    <span class="lt-icon lt-left lt-large py-1"></span>
  </button>

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title">Quick Shop</h4>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeaderMessage #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeaderMessage %}
  {% include "includes/modules/product/detail/alert-header-level-view-you-order.twig" %}
{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <!-- DEVELOPER NOTE :: this markup, starting with the .row below is shared
    between Product Detail Page and Quick Shop Modal -->
  <div class="row">

    <!-- START - PRODUCT IMAGES -->
    <div class="pdp-images-block col-sm-6 pr-md-4 pr-lg-5">
      {% include "includes/modules/product/detail/images.twig" %}
    </div>
    <!-- END - PRODUCT IMAGES -->

    <!-- START - PRODUCT DETAILS -->
    <div class="pdp-details-block col-sm-6 pt-4 pt-md-0 pl-md-0 d-flex">
      {% include "includes/modules/product/detail/details.twig" %}
    </div>
    <!-- END - PRODUCT DETAILS -->

  </div>
  <!-- /.row -->


{% endblock %}
