{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% embed layouts.columns12 %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <!-- START - HEADER LEVEL ALERT -->
      {% include "includes/groups/alerts/alert-level-template.twig" with {
        alertIcon: 'lt-warning-fill',
        alertHeadline: 'Header Level',
        alertBody: null,
        alertBtnText: null,
        alertClasses: 'alert-danger alert-strong',
        alertLevel: 'header',
        alertDismissable: false,
        alertId: null
      } %}
      <!-- END - HEADER LEVEL ALERT -->

      <!-- START - HEADER LEVEL ALERT - DISMISSABLE -->
      {% include "includes/groups/alerts/alert-level-template.twig" with {
        alertIcon: 'lt-checkmark',
        alertHeadline: 'Header Level - Dismissable',
        alertBody: null,
        alertBtnText: 'Optional button',
        alertClasses: 'alert-success alert-strong',
        alertLevel: 'header',
        alertDismissable: true,
        alertId: null
      } %}
      <!-- END - HEADER LEVEL ALERT - DISMISSABLE -->
    
      <section class="container container--page">

        <!-- START - PAGE LEVEL ALERT -->
        {% include "includes/groups/alerts/alert-level-template.twig" with {
          alertIcon: 'lt-warning-fill',
          alertHeadline: 'Page Level',
          alertBody: null,
          alertBtnText: null,
          alertClasses: 'alert-danger',
          alertLevel: 'page',
          alertDismissable: false,
          alertId: null
        } %}
        <!-- END - PAGE LEVEL ALERT -->

        <h1 class="mb-5">Alerts</h1>
        <h3>Header level <small>(see above)</small></h3>
        <p>Header level alerts go between the header and content and span the width of the window. Icons and buttons are optional. Dismissable alerts become sticky to the top of the window once you scroll down far enough. They have a dark background. </p>

        <h3>Page level <small>(see above)</small></h3>
        <p>Page level alerts are the first item at the top of the content area and go the content and  width of the content area. They have a dark background. </p>

        <h3>Section level</h3>
        <p>Section level alerts usually are at the top of a section, but can be inserted anywhere. They fill op the width of their parent container. They can contain any trpe of content. However, if it's just one line, it is structured and styled slightly differently. They have a light background.</p>

        <!-- START - INLINE LEVEL - WITH MAX TEXT -->
        {% include "includes/groups/alerts/alert-level-template.twig" with {          
          alertIcon: 'lt-warning-fill',
          alertHeadline: 'Inline - with maximum text.',
          alertBody: '
          <ul class="alert-list">
            <li><a href="#" class="alert-link">' ~ fpo.sentence ~ '</a></li>
            <li>' ~ fpo.paragraph ~ '</li>
          </ul>
          <p>' ~ fpo.paragraph ~ '</p>',
          alertBtnText: null,
          alertClasses: 'alert-danger',
          alertLevel: 'content',
          alertDismissable: false,
          alertId: null
        } %}
        <!-- END - INLINE LEVEL - WITH MAX TEXT -->
        
        
        <!-- START - INLINE LEVEL - MOST TYPICAL -->
        {% include "includes/groups/alerts/alert-level-template.twig" with {          
          alertIcon: 'lt-warning-fill',
          alertHeadline: 'Inline - most typical: a few bullet points',
          alertBody: '
          <ul class="alert-list">
            <li>' ~ fpo.sentence ~ '</li>
            <li>' ~ fpo.sentence ~ '</li>
            <li>' ~ fpo.sentence ~ '</li>
          </ul>',
          alertBtnText: null,
          alertClasses: 'alert-danger',
          alertLevel: 'content',
          alertDismissable: false,
          alertId: null
        } %}
        <!-- END - INLINE LEVEL - JUST TYPICAL -->


        
        <hr>
        <section class="my-5">
          <h3>Inline level - Text</h3>
          <p>A description that is placed right next to the error. No icon. Example: <a href="your-order.html">Your Order</a> cart.</p>
            <!-- START - INLINE LEVEL - WITH HEADLINE -->
            {% include "includes/groups/alerts/alert-level-template.twig" with {          
              alertIcon: null,
              alertHeadline: 'Inline - Just headline',
              alertBody: null,
              alertBtnText: null,
              alertClasses: 'alert-danger',
              alertLevel: 'content',
              alertDismissable: false,
              alertId: null
            } %}
            <!-- END - INLINE LEVEL - JUST HEADLINE -->

            <!-- START - INLINE LEVEL - JUST BULLETS -->
            {% include "includes/groups/alerts/alert-level-template.twig" with {          
              alertIcon: null,
              alertHeadline: null,
              alertBody: '
              <ul class="alert-list">
                <li>' ~ fpo.sentence ~ '</li>
              </ul>',
              alertBtnText: null,
              alertClasses: 'alert-danger',
              alertLevel: 'content',
              alertDismissable: false,
              alertId: null
            } %}
            <!-- END - INLINE LEVEL - JUST BULLETS -->

         </section>



        <hr>
        <section class="my-5">
          <h3>Inline level - Input</h3>

          <h6 class="mt-5">With label</h6>
          <p>The label is red with a "warning" icon and the input gets a red border. The icon is present, but hidden, unless .has-error is on the parent.</p>
          <div class="form-group has-error">
            {% include components.groups.forms.inputAndLabel with {
              id: 'error-with-label', 
              mainLabel: 'Quantity',
              haslabelErrorIcon: true,
              hasInlineErrorIcon: null,
              hasAbsoluteErrorIcon: null,
              classes: 'form-control'
            } %}
          </div>

          <h6 class="mt-5">Without label - Inline</h6>
          <p>When the input has a set width. The red "warning" icon goes to the left of the input gets a red border.</p>
          <div class="form-group has-error">
            {% include components.elements.forms.input with {
              placeholder: '',
              theValue: '30000',
              size: '7',
              haslabelErrorIcon: null,
              hasInlineErrorIcon: true,
              hasAbsoluteErrorIcon: null,
              classes: 'form-control form-control-inline'
            } %}
          </div>

          <h6 class="mt-5">Without label - Position Absolute. </h6>
          <p>When input fills the width of it's container (set to width: 100%)</p>
          <div class="form-group has-error">
            {% include components.elements.forms.input with {
              placeholder: '',
              theValue: '30000',
              haslabelErrorIcon: null,
              hasInlineErrorIcon: null,
              hasAbsoluteErrorIcon: true,
              classes: 'form-control'
            } %}
          </div>



          <h6 class="mt-5">Radio</h6>
          <div class="form-group has-error">
            {% include components.elements.forms.radio with {
              name: 'pay-type',
              theValue: 'quick-pay',
              theLabel: 'QuikPAY',
              disabled: false,
              haslabelErrorIcon: true
            } %}
          </div>
              

        </section>
        
        <hr>         
        <section class="my-5">
          <h3>Inline level - Rich Text</h3>
          <p>Inline level with rich text alerts are for when somehting has not loaded on the page. This fills the spot where the content should be. </p>
          <!-- START - INLINE LEVEL - RICH TEXT -  -->
          {% include "includes/groups/alerts/alert-level-inline-rich-text.twig" with {
              alertId: null,
              alertClasses: null,
              alertIcon: 'lt-warning',
              alertIconMsgCols: true,
              alertMsgHeadline: null,
              alertMsg: '
                <h6>Something is unable to be loaded</h6>
                <p>We’re sorry for the inconvenience. Lorem ipsum dolor sit amet consect adipiscing elit verbose.</p>
                <p>Please refresh the page or try back at a later time.</p>
              ',
              alertBtnText: 'Refresh page',
              alertDismissable: false,
              alertLevel:  'inline-rich-text'
            }
          %}
          <!-- END - INLINE LEVEL - RICH TEXT - -->
        </section>
     

        {# <div class="row">
          <div class="col-xs-3">

            <div class="form-group has-error has-error--absolute-1-line">

              {% include components.groups.forms.inputAndLabel with { mainLabel: 'Quantity', id: 'error-horizontal-input-1' } %} 

            </div>



            <div class="form-group has-error has-error--absolute-1-line text-left p-0 m-0 pr-4 pb-3">
              <label class="control-label" for="pdpQuantity">Quantity</label>
              <input type="text" class="form-control" id="pdpQuantity" placeholder="1">
              <p class="text-danger small label-abs">
                <strong>You have exceeded your demo limit. Please modify the quantity.</strong>
              </p>
            </div>
          </div>
        </div> #}
        



      </section>
 

      <!-- END - RELATED PRODUCTS -->

    {% endblock %}

  {% endembed %}



{% endblock %}
