{% extends layouts.base %}

{% set sectionClass = 'page--beauty-buzz' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "layouts/content-center-max-width.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!--START - AVON BUZZ LOGO-->
        <div class="my-5 pb-4 text-center">
          <img src="images/logos/beauty-buzz.png" class="img-responsive img-responsive--50 m-auto px-5 px-md-0" alt="Beauty Buzz">
        </div>
        <!--END - AVON BUZZ LOGO-->

        <section class="pt-4">
          <!-- START - NAV TABS -->
          {% include "includes/groups/navigation/scrollable-tabs/scrollable-tabs.twig" %}
          <!-- END - NAV TABS -->

          <hr class="full-width-divider m-0">

          <!-- START - TAB PANES -->
          <div class="tab-content">

            {% include "includes/modules/beauty-buzz/tab-pane.twig" with {
              id: 'buzz-1',
              tabLabel: 'Group 1',
              classes: 'active'
            } %}

            {% include "includes/modules/beauty-buzz/tab-pane.twig" with {
              id: 'buzz-2',
              tabLabel: 'Group 2',
              classes: ''
            } %}

            {% include "includes/modules/beauty-buzz/tab-pane.twig" with {
              id: 'buzz-3',
              tabLabel: 'Group 3',
              classes: ''
            } %}

            {% include "includes/modules/beauty-buzz/tab-pane.twig" with {
              id: 'buzz-4',
              tabLabel: 'Group 4',
              classes: ''
            } %}

          </div>
          <!-- END - TAB PANES -->

        </section>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
