{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "layouts/columns-10-max.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "includes/groups/navigation/back-link.twig" with {label: "Back"} %}
        <h1>10 Columns - Centered</h1>
        <p style="margin-bottom: 400px">{{ fpo.paragraph }} {{ fpo.paragraph }}</p>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}

