{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <section class="container container--page">

    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-5">Generic Modal</h2>

        <p>
          <!-- START - MODAL TRIGGER -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#generic-modal">Open Modal</button>
          <!-- START - MODAL TRIGGER -->
        </p>

      <!-- START - MODAL CONTENT -->
      {% include "includes/modules/modals/modal-blank-generic.twig" %}
      <!-- END - MODAL CONTENT -->
      </div>
    </div>

  </section>

  {% endblock %}


{% endblock %}

