{% extends 'layouts/theme-checkout.twig' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% include "includes/modules/checkout/checkout-successfull-paid.twig" %}

  <div class="container container--page">

    {% embed 'layouts/columns-10-max-8x4-header.twig' with {
      contentSplit: true
    } %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - CONTENT HEADER #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block contentheader %}
      
      {% include "includes/groups/navigation/back-link.twig" with {label: "Back to Payment Methods"} %}
      {% include "includes/groups/navigation/back-link.twig" with {label: "Cancel Split Payments"} %}
      {% include "includes/modules/checkout/checkout-header.twig" %}

    {% endblock %}
    {# END BLOCK - CONTENT HEADER #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <div class="mb-4 mb-md-0" data-split-content-container="mobile">

        <!-- DEV NOTE :: Order summary information is moved here with js on small screens -->

      </div>

      <!-- START - ORDER OVERVIEW -->
      {% include 'includes/modules/checkout/module-order-overview.twig' %}
      <!-- END - ORDER OVERVIEW -->

      <!-- START - ADDRESS -->
      {% include 'includes/modules/checkout/module-ship-to.twig' %}
      <!-- END - ADDRESS -->

      <!-- START - SHIPPING -->
      {% include 'includes/modules/checkout/module-shipping-method.twig' %}
      <!-- END - SHIPPING -->

      <!--START - ADD/CHOOSE PAYMENT METHOD-->
      {% include 'includes/modules/checkout/quick-checkout-payment-method.twig' with {headline: 'Choose Payment Method', hasSplitPayment: true} %}
      <!-- END - ADD/CHOOSE PAYMENT METHOD -->

      <!-- START - PAY WITH AVON CREDIT-->
      {% include 'includes/modules/checkout/quick-checkout-ac.twig' %}
      <!-- END - PAY WITH AVON CREDIT -->

      <!-- START - CREDIT CARD PAYMENT METHOD -->
      {% include 'includes/modules/checkout/quick-checkout-cc.twig' %}
      <!-- END - CREDIT CARD PAYMENT METHOD -->

      <!-- START - PAY WITH QUICKPAY-->
      {% include 'includes/modules/checkout/quick-checkout-aq.twig' with { showAmount:true } %}
      <!-- END - PAY WITH QUICKPAY-->

      <!-- START - PAYMENTS -->
      {% include 'includes/modules/checkout/quick-checkout-payments.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

    {% endblock %}
    {# END BLOCK - MAIN #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block aside %}

      <!-- START - ORDER TOTAL ASIDE -->
      {% include 'includes/modules/checkout/checkout-order-total.twig' with {
        buttonsToShow: {
          sumbmitEnabled: true,
          submitDisabled: true,
          reviewEnabled: false,
          reviewDisabled: false
        }
      } %}
      <!-- END - ORDER TOTAL ASIDE -->

      <!-- START - ORDER TOTAL STICKY FOOTER -->
      <!-- DEV NOTE :: This sticky footer requires some js to add appropriate
                    :: padding to <body> :: See avon-main.js near the bottom
                    :: look for "if(hasStickyFooter) {... -->
      {% include 'includes/modules/checkout/checkout-sticky-footer.twig' %}
      <!-- END - ORDER TOTAL STICKY FOOTER -->

    {% endblock %}
    {# END BLOCK - ASIDE #}

  {% endembed %}
  {# END LAYOUT EMBED #}


</div>
<!-- / .container -->

{% endblock %}
{# END BLOCK - CONTENT #}
