{% extends 'layouts/theme-checkout.twig' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% include "includes/modules/checkout/checkout-generic-error.twig" %}

  {% include "includes/modules/checkout/checkout-successfull-paid.twig" %}

  <div class="container container--page">

  {% embed 'layouts/columns-10-max-8x4-header.twig' with {
    contentSplit: true
  } %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - CONTENT HEADER #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block contentheader %}

      {% include "includes/groups/navigation/back-link.twig" with {label: "Back to Payment Methods"} %}
      {% include "includes/groups/navigation/back-link.twig" with {label: "Cancel Split Payments"} %}
      {% include "includes/modules/checkout/checkout-header.twig" %}
      {% include "includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}

    {% endblock %}
    {# END BLOCK - CONTENT HEADER #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <div class="mb-4 mb-md-0" data-split-content-container="mobile">

        <!-- DEV NOTE :: Order summary information is moved here with js on small screens -->

      </div>

      <!-- START - BALANCE REMAINING -->
      {% include 'includes/modules/checkout/quick-checkout-balance-remaining.twig' %}
      {% include 'includes/modules/checkout/quick-checkout-balance-remaining.twig' with {amount: '0.00', colorClass: 'text-success'} %}
      {% include 'includes/modules/checkout/quick-checkout-balance-remaining.twig' with {amount: '15.00', colorClass: 'text-success', overpaid: true} %}
      <!-- END - BALANCE REMAINING -->

      <!--START - ADD/CHOOSE PAYMENT METHOD-->
      {% include 'includes/modules/checkout/quick-checkout-payment-method.twig' with {headline: 'Choose Payment Method', hasSplitPayment: true} %}
      <!-- END - ADD/CHOOSE PAYMENT METHOD -->

      <!-- START - PAYMENTS -->
      {% include 'includes/modules/checkout/quick-checkout-payments.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

      <!-- START - PAYMENTS -->
      {% include 'includes/modules/checkout/quick-checkout-cvv.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

      <!-- START - SUCCESSFUL PAYMENTS -->
      {% include 'includes/modules/checkout/quick-checkout-success-payments.twig' with {headline: 'Successful Payments'} %}
      <!-- END - SUCCESSFUL PAYMENTS -->

      <!-- START - FAILED PAYMENTS -->
      {% include 'includes/modules/checkout/quick-checkout-failed-payments.twig' with {headline: 'Failed Payments'} %}
      <!-- END - FAILED PAYMENTS -->

      <!-- START - PAY WITH AVON CREDIT-->
      {% include 'includes/modules/checkout/quick-checkout-ac.twig' %}
      <!-- END - PAY WITH AVON CREDIT -->

      <!-- START - CREDIT CARD PAYMENT METHOD -->
      {% include 'includes/modules/checkout/quick-checkout-cc.twig' %}
      <!-- END - CREDIT CARD PAYMENT METHOD -->

      <!-- START - EDIT CREDIT CARD -->
      {% include 'includes/modules/checkout/quick-checkout-edit-cc.twig' %}
      <!-- END - EDIT CREDIT CARD -->

      <!-- START - PAY WITH QUICKPAY-->
      {% include 'includes/modules/checkout/quick-checkout-aq.twig' with { showAmount:true } %}
      <!-- END - PAY WITH QUICKPAY-->

      <!-- START - ORDER OVERVIEW -->
      {% include 'includes/modules/checkout/module-order-overview.twig' %}
      <!-- END - ORDER OVERVIEW -->

      <!-- START - ADDRESS -->
      {% include 'includes/modules/checkout/module-ship-to.twig' %}
      <!-- END - ADDRESS -->

      <!-- START - SHIPPING -->
      {% include 'includes/modules/checkout/module-shipping-method.twig' %}
      <!-- END - SHIPPING -->

      <!-- START - BALANCE DUE METHOD -->
      {% include 'includes/modules/checkout/quick-checkout-balance-due.twig' %}
      <!-- END - SHIPPING METHOD -->

    {% endblock %}
    {# END BLOCK - MAIN #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block aside %}

      <!-- START - ORDER TOTAL ASIDE -->
      {% include 'includes/modules/checkout/checkout-order-total.twig' %}
      <!-- END - ORDER TOTAL ASIDE -->

      <!-- START - ORDER TOTAL STICKY FOOTER -->
      <!-- DEV NOTE :: This sticky footer requires some js to add appropriate
                    :: padding to <body> :: See avon-main.js near the bottom
                    :: look for "if(hasStickyFooter) {... -->
      {% include 'includes/modules/checkout/checkout-sticky-footer.twig' %}
      <!-- END - ORDER TOTAL STICKY FOOTER -->

    {% endblock %}
    {# END BLOCK - ASIDE #}

  {% endembed %}
  {# END LAYOUT EMBED #}


</div>
<!-- / .container -->

<!-- START - MODAL - SHIPPING INFO MODAL -->
  {% include "includes/modules/checkout/modals/checkout-shipping-info-modal.twig" %}
<!-- END - MODAL - SHIPPING INFO MODAL -->

{% endblock %}
{# END BLOCK - CONTENT #}
