{% extends layouts.base %}

{% set sectionClass = 'page--import-customer' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 px-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <section class="container container--page">

    {% embed "layouts/columns-12.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "includes/groups/navigation/back-link.twig" with {caption: "All Customers"} %}

        <h2>Import Customers</h2>
        <p class="mb-5 text-muted">Where would you like to import contacts from?</p>

        <hr>

        <!-- START - IMPORT SOURCES -->
        <section>
          {% include "includes/modules/contacts/contacts-import/import-sources.twig" %}
        </section>
        <!-- END - IMPORT SOURCES -->



      {#   <!-- START - IMPORTABLE ITEMS (TABLE) ** Still oin progress when work halted on Jan 31, 2019  -->

        <p class="large"><strong>Select the customers you’d like to import from Gmail:</strong>
        <p>
        {% include "includes/modules/contacts/contacts-import/importable-items.twig" %}
        <!-- END - IMPORTABLE ITEMS (TABLE) ** Still oin progress when work halted on Jan 31, 2019  --> #}

        <hr>
        <p class="text-muted small">{{fpo.paragraph}}</p>

        </section>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 px-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
