{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">Contact - Modals</h1>

        <h6>General</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-send-email">Send Email</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-send-ecard">Send eCard</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-learn-more">Learn More</a></li>
        </ul>

        <h6>Follow-ups</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-follow-ups-add-edit">Add/Edit Follow-up</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete Follow-up</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-follow-ups-details">Details Follow-up</a></li>
        </ul>

        <h6>Notes</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-notes-add-edit">Add/Edit Note</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete Note</a></li>
        </ul>

        <h6>Groups</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-new-edit">Add/Edit Group</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete Group</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-to">Add To Group</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Remove From Group</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact-list-filter-team">Group List Filter (Teams)</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact-list-filter-customer">Group List Filter (Customers)</a></li>
        </ul>


        <!-- START - SEND EMAIL MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/send-email-modal.twig" %}
        <!-- END - SEND EMAIL MODAL -->

        <!-- START - SEND ECARD MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/send-ecard-modal.twig" %}
        <!-- END - SEND ECARD MODAL -->

        <!-- START - TEAM FILTER MODAL -->
        {% include "includes/modules/contacts/contacts-list/contact-list-filter-modal-team.twig" %}
        <!-- END - TEAM FILTER MODAL -->

        <!-- START - CUSTOMER FILTER MODAL -->
        {% include "includes/modules/contacts/contacts-list/contact-list-filter-modal-customer.twig" %}
        <!-- END - CUSTOMER FILTER MODAL -->

        <!-- START - FOLLOW-UPS ADD/EDIT MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/follow-ups-add-edit-modal.twig" %}
        <!-- END - FOLLOW-UPS ADD/EDIT MODAL -->

        <!-- START - FOLLOW-UPS DETAILS MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/follow-ups-details-modal.twig" %}
        <!-- END - FOLLOW-UPS DETAILS MODAL -->

        <!-- START - NOTES ADD/EDIT MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/notes-add-edit-modal.twig" %}
        <!-- END - NOTES ADD/EDIT MODAL -->

        <!-- START - GROUPS ADD NEW MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/groups-add-new-edit-modal.twig" %}
        <!-- END - GROUPS ADD NEW MODAL -->

        <!-- START - GROUPS ADD TO MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/groups-add-to-modal.twig" %}
        <!-- END - GROUPS ADD TO MODAL -->

        <!-- START - DELETE MODAL (SAME TEMPLATE FOR ALL) -->
        {% include "includes/modules/modals/modal-either-or-error.twig" %}
        <!-- END - DELETE MODAL (SAME TEMPLATE FOR ALL) -->


        <!-- START - LEARN MORE MODAL -->
        {% include "includes/modules/contacts/contact-detail/modals/learn-more-modal.twig" %}
        <!-- END - LEARN MORE MODAL -->





      {% endblock %}


  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
