{% extends layouts.base %}

{% set sectionClass = 'page--reminder-report' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "layouts/columns-10-max.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Customer Product Reminder</h2>
        <p>{{fpo.paragraph}}</p>
        <p>{{fpo.paragraph}}</p>

        <div class="clearfix my-4">
          <div class="pull-left">
            <form class="form-inline" role="form">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" id="inputSuccess4">
                <span class="lt-icon lt-search lt-medium form-control-feedback"></span>
              </div>
            </form>
          </div>
          <div class="pull-right my-3">
            <a href="#" class="mx-2">Print</a> |
            <a href="#" class="mx-2">Export All</a> |
            <a href="#">Show All</a>
          </div>
        </div>

        <!-- START - SECTION LEVEL - WITH ERROR LIST -->
        {% include "includes/groups/alerts/alert-level-inline-rich-text.twig" with {
            alertId: null,
            alertClasses: null,
            alertIcon: 'lt-warning',
            alertIconMsgCols: true,
            alertMsgHeadline: null,
            alertMsg: '
              <h6>Product Information unable to be loaded</h6>
              <p>We’re sorry for the inconvenience. Lorem ipsum dolor sit amet consect adipiscing elit verbose.</p>
              <p>Please refresh the page or try back at a later time.</p>
              <a href="javascript:void(0)" class="btn btn-default btn-soft btn-discourage btn-sm">Refresh page</a>
            ',
            alertBtnText: false,
            alertDismissable: false,
            alertLevel:  null
          }
        %}
        <!-- END - SECTION LEVEL - WITH ERROR LIST -->

        <!-- START - TABLES -->

        <!-- Developer note: On mobile vs tablet/desktop, the "phone/cal" and "email" links behave differently. -->
        <!-- This is handled in /js/demo/popovers.js -->
        {% include 'includes/modules/reports/customer-product-reminder-table.twig' with {
          index: '1',
          hidden: false,
          classes: 'product-reminder-table'
        } %}

        {% include 'includes/modules/reports/customer-product-reminder-table.twig' with {
          index: '2',
          hidden: true,
          classes: 'product-reminder-table'
        } %}

        <!-- END - TABLES -->

        <!-- START - PAGINATION -->
        <ul class="pagination" data-pagination-target="product-reminder-table">
          <li class="disabled page-prev">
            <a href="javascript:void(0)"><span class="lt-icon lt-carat-left lt-medium"></a>
          </li>
          <li class="active">
            <a href="javascript:void(0)">1</a>
          </li>
          <li>
            <a href="javascript:void(0)">2</a>
          </li>
          <li>
            <a href="javascript:void(0)">3</a>
          </li>
          <li>
            <a href="javascript:void(0)">4</a>
          </li>
          <li>
            <a href="javascript:void(0)">5</a>
          </li>
          <li class="page-next">
            <a href="javascript:void(0)"><span class="lt-icon lt-carat-right lt-medium"></a>
          </li>
        </ul>
        <!-- END - PAGINATION -->

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
