{% extends layouts.base %}

{% set sectionClass = 'page--earnings' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - MAGNOLIA BLOCK -->
    {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
      position: 'top',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}
    <!-- END - MAGNOLIA BLOCK -->

    <section class="container container--page">

      <div class="row">

        <div class="col-md-12">

          <h2>Earnings</h2>

          <section class="d-flex align-items-end justify-content-between border-top pt-3 mt-5">

            <div class="form-group has-feedback mb-0">
              <select class="form-control">
                <option>My last three campaigns</option>
                <option>My year to date</option>
                <option>My last 26 campaigns</option>
              </select>
              <span class="lt-icon lt-triangle-down form-control-feedback"></span>
            </div>

            <a href="#"><span class="lt-icon lt-print lt-medium align-middle mr-2"></span>Print</a>

          </section>

          <!-- START - TABLE -->
          <div class="my-0 my-md-3 table-responsive">
            <table class="table table-striped table-bordered-outside-only table-sparse--right m-0">

              <thead>
                <tr>
                  <th class="nowrap">Campaign</th>
                  <th class="nowrap">Order Size
                    <a data-toggle="modal" data-target="#earnings-order-size-modal">
                      <span class="lt-icon lt-tip align-middle"></span>
                    </a>
                  </th>
                  <th class="nowrap">Estimated Earnings
                    <a data-toggle="modal" data-target="#earnings-estimated-modal">
                      <span class="lt-icon lt-tip align-middle"></span>
                    </a>
                  </th>
                  <th class="nowrap">Detail</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>C10 (2018)</td>
                  <td>$6.00</td>
                  <td>$1.12</td>
                  <td><a href="#">View</a></td>
                </tr>
                <tr>
                  <td>C09 (2019)</td>
                  <td>$52.00</td>
                  <td>$10.42</td>
                  <td><a href="#">View</a></td>
                </tr>
                <tr>
                  <td>C08 (2018)</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td></td>
                </tr>
              </tbody>

              <tfoot class="mt-4">
                <tr class="info">
                  <td class="text-uppercase">Totals</td>
                  <td>$58.00</td>
                  <td>$11.54</td>
                  <td></td>
                </tr>
              </tfoot>

            </table>
          </div>
          <!-- END - TABLE -->

          <p class="small text-muted mt-4">
            Note: Information is unavailable prior to Campaign 25 National (TS campaign 01)
          </p>

        </div>

      </div>

    </section>

    <!-- START - MAGNOLIA BLOCK -->
    {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
      position: 'bottom',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}
    <!-- END - MAGNOLIA BLOCK -->

  {% endblock %}

  <!-- START - EARNINGS MODALS -->
  {% include "includes/modules/earnings/estimated-earnings-modal.twig" %}
  {% include "includes/modules/earnings/order-size-modal.twig" %}
  <!-- END - EARNINGS MODALS -->

{% endblock %}
