{# index.twig #}
{% extends "layouts/base.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>S4DC Styleguide Boilerplate</h1>
  </header>
  <main class="pb-5">
    <h3 class="my-5">Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Overview</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/layouts.html">Layouts</a></li>
      <li><a href="styleguide/modules.html">Modules</a></li>
      <li><a href="styleguide/javascript.html">Javascript</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Pages</h3>

    <p><strong>General</strong></p>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="home-unauthenticated.html">Home - Unauthenticated</a></li>
      <li><a href="beauty-buzz.html">Beauty Buzz</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li><a href="header-footer.html">Global items (header, footer, etc.)</a></li>
      <li><a href="alerts.html">Alerts</a></li>
      <li><a href="alerts-legacy.html">Legacy Alerts</a></li>
    </ul>

    <p><strong>Sign in</strong></p>
    <ul>
      <li><a href="sign-in.html">Sign in</a></li>
      <li><a href="sign-in-credentials-set-reset.html">Set/Reset Credentials</a></li>
      <li><a href="sign-in-success-messages.html">Success Messages</a></li>
      <li><a href="sign-in-modals.html">Modals</a></li>
    </ul>

    <p><strong>Registration</strong></p>
    <ul>
      <li><a href="register-become-a-rep.html">Become A Representative</a></li>
      <li><a href="register-become-a-rep-promo.html">Become A Representative (With Promo)</a></li>
      <li><a href="register-basic-info.html">Basic Info </a></li>
      <li><a href="starter-kit-list.html">Starter Kit (List and Detail modal)</a></li>
    </ul>

    <p><strong>My Account</strong></p>
    <ul>
      <li><a href="account-balance.html">Account Balance</a></li>
      <li><a href="change-password.html">Change Password</a></li>
      <li>
        <a href="get-paid-by-avon.html">Get Paid by Avon</a>
        <ul>
          <li><a href="get-paid-by-avon-modals.html">Modals</a></li>
        </ul>
      </li>
      <li>
        <a href="saved-credit-cards.html">Saved Credit Cards</a>
        <ul>
          <li><a href="saved-credit-cards-modals.html">Modals</a></li>
        </ul>
      </li>
      </li>
      <li>
        <a href="pay-avon.html">Pay Avon</a>
          <ul>
            <li><a href="pay-avon-quickpay-enrollment-modals.html">Modals (QuickPAY Enrollment)</a></li>
            <li><a href="pay-avon-saved-credit-cards-modals.html">Modals (Saved Credit Card)</a></li>
          </ul>
      </li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="online-presence.html">Online Presence</a></li>
      <li><a href="message-center.html">Message Center</a></li>
    </ul>

    <p><strong>Get Support</strong></p>
    <ul>
      <li><a href="contact-sales-leader.html">Contact Sales Leader</a></li>
      <li><a href="support.html">Support</a></li>
    </ul>

    <p><strong>Products</strong></p>
    <ul>
      <li><a href="item-entry.html">Item Entry</a></li>
      <li><a href="product-detail.html">Product Detail (PDP)</a></li>
      <li><a href="product-list.html">Product List (PLP)</a></li>
      <li><a href="search-results.html">Search Results</a></li>
      <li><a href="search-results-none.html">Search Results (No Results)</a></li>
      <li><a href="brochures.html">Virtual Brochures</a></li>
      <li><a href="your-order.html">Your Order</a></li>
    </ul>

    <p><strong>Checkout</strong></p>
    <ul>
      <li><a href="checkout.html">All Modules</a></li>
      <li><a href="checkout-past-due-balance.html">Group 1 - Past Due Balance</a></li>
      <li><a href="checkout-payment-and-review.html">Group 2 - Full Payment and Review Order</a></li>
      <li><a href="checkout-split-payment.html">Group 3 - Split Payment</a></li>
      <li><a href="checkout-payment-failed.html">Group 4 - Payment Failed</a></li>
      <li><a href="checkout-order-submitted-confirmation.html">Order Confirmation</a></li>
    </ul>



    <p><strong>Orders</strong></p>
    <ul>
      <li>
        <a href="online-order-history.html">Online Order History</a>
        <ul>
          <li><a href="order-details.html">Details</a></li>
        </ul>
      </li>
      <li><a href="direct-delivery-reports.html">Direct Delivery Report</a></li>
      <li>
        <a href="track-submitted-orders.html">Track Submitted Orders</a>
        <ul>
          <li><a href="track-submitted-order-detail.html">Detail</a></li>
        </ul>
      </li>
      <li>
        <a href="view-invoices.html">Invoices</a>
        <ul>
          <li><a href="invoice-addendums.html">Invoice Addendums</a></li>
        </ul>
      </li>
      <li><a href="process-returns.html">Process Returns</a></li>
      <li><a href="customer-order-information.html">Customer Order Information</a></li>
      <li><a href="customer-product-reminder-report.html">Customer Product Reminder Report</a></li>
    </ul>

    <p><strong>My Office</strong> (Customers)</p>
    <ul>
      <li>
        Contact Manager
        <ul>
          <li><a href="contact-list-customers.html">List (landing page)</a></li>
          <li><a href="contact-detail-customers.html">Detail (Regular Customer)</a></li>
          <li><a href="contact-detail-customers-online.html">Detail (Online Customer)</a></li>
          <li><a href="contact-add-customers.html">Add</a></li>
          <li><a href="contact-import-customers.html">Import</a></li>
          <li>
            <a href="contact-group-list.html">Groups List</a>
            <ul>
              <li><a href="contact-group-members-list-customers.html">Members List</a></li>
            </ul>
          </li>
          <li><a href="contact-modals.html">Modals</a></li>
        </ul>
      </li>
      <li>
        <a href="follow-ups-manager.html">Follow-ups Manager</a>
      </li>
      <li>
        <a href="reports-customers.html">Reports</a>
        <ul>
          <li><a href="reports-customers-no-saved.html">Reports (No saved reports)</a></li>
        </ul>
      </li>
    </ul>

    <p><strong>Earnings</strong></p>
    <ul>
      <li>
        <a href="earnings.html">Earnings</a>
        <ul>
          <a href="earnings-detail.html">Earnings - Detail</a>
        </ul>
      </li>
    </ul>

    <p><strong>My Team</strong></p>
    <ul>
      <li>
        Contact Manager
        <ul>
          <li><a href="contact-list-team.html">List (landing page)</a></li>
          <li><a href="contact-detail-team.html">Detail</a></li>
          <li>
            <a href="contact-group-list.html">Groups List</a>
            <ul>
              <li><a href="contact-group-members-list-team.html">Members List</a></li>
            </ul>
          </li>
          <li><a href="contact-modals.html">Modals</a></li>
        </ul>
      </li>
      <li><a href="reports-team.html">Reports</a></li>
    </ul>

    <hr>




    <p><strong>Blank Pages</strong></p>
    <ul>
      <li><a href="blank-page-12-col.html">12 Column</a></li>
      <li><a href="blank-page-12-col-6x6.html">12 Column - Inner 6x6</a></li>
      <li><a href="blank-page-10-col-centered.html">10 Column - Centered</a></li>
      <li><a href="blank-page-secondary-nav.html">Secondary Nav Demo</a></li>
    </ul>

    <p><strong>Blank Modals</strong></p>
    <ul>
      <li><a href="blank-modal-either-or.html">Either/Or</a></li>
      <li><a href="blank-modal-either-or-error.html">Either/Or (Discourage Negative Action)</a></li>
      <li><a href="blank-modal-generic.html">Generic</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Code snippets</h3>
    <ul>
      <li><a href="styleguide/code-snippets.html#campaign-literature">Campaign Literature</a></li>
      <li><a href="styleguide/code-snippets.html#facebook-login">Facebook Sign in Button</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Diff Reports</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Latest</th>
          <th>Changes since</th>
        </tr>
      </thead>
      <tbody>

        <!-- SPRINT 22 -->
        {% set sprintLatestLabel = "Sprint 22 (v1) - Nov 9" %}
        {% set sprintLatestFileName = "sprint-22-v1-nov-09" %}
        <tr class="alert-neutral">
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__2018-0ct-09/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Oct 9, 2018</td>
        </tr>

        <!-- SPRINT 10 -->
        {% set sprintLatestLabel = "Sprint 10 (v5) - May 29" %}
        {% set sprintLatestFileName = "sprint-10-v5-may-29" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-10-v4-may-22/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 10 (v4) - May 22</td>
        </tr>

        {% set sprintLatestLabel = "Sprint 10 (v4) - May 22" %}
        {% set sprintLatestFileName = "sprint-10-v4-may-22" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-10-v3-may-18/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 10 (v3) - May 18</td>
        </tr>

        {% set sprintLatestLabel = "Sprint 10 (v3) - May 18" %}
        {% set sprintLatestFileName = "sprint-10-v3-may-18" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-10-v2-may-16/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 10 (v2) - May 16</td>
        </tr>

        {% set sprintLatestLabel = "Sprint 10 (v2) - May 16" %}
        {% set sprintLatestFileName = "sprint-10-v2-may-16" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-10-v1-may-14/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 10 (v1) - May 14</td>
        </tr>

        {% set sprintLatestLabel = "Sprint 10 (v1) - May 14" %}
        {% set sprintLatestFileName = "sprint-10-v1-may-14" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-09-v2-may-8/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 9 (v2) - May 8</td>
        </tr>

        <!-- SPRINT 9 -->
        {% set sprintLatestLabel = "Sprint 9 (v2) - May 8" %}
        {% set sprintLatestFileName = "sprint-09-v2-may-8" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-09-v1-may-06/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 9 (v1) - May 6</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-08-v3-may-01/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 8 (v3) - May 1</td>
        </tr>

        <!-- SPRINT 8 -->
        {% set sprintLatestLabel = "Sprint 8 (v3) - May 1" %}
        {% set sprintLatestFileName = "sprint-08-v3-may-1" %}
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-08-v2-apr-29/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 8 (v2) - Apr 29</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-08-v1-apr-22/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 8 (v1) - Apr 22</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/{{ sprintLatestFileName }}__vs__sprint-07-v5-apr-19/FolderComparisonReport.html">View</a></td>
          <td>{{ sprintLatestLabel }}</td>
          <td>Sprint 7 (v5) - Apr 19</td>
        </tr>
        <!-- SPRINT 7 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v5-apr-19__vs__sprint-07-v4-apr-15/FolderComparisonReport.html">View</a></td>
          <td>Sprint 7 (v5) - Apr 19</td>
          <td>Sprint 7 (v4) - Apr 15</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v5-apr-19__vs__sprint-07-v3-apr-13/FolderComparisonReport.html">View</a></td>
          <td>Sprint 7 (v5) - Apr 19</td>
          <td>Sprint 7 (v3) - Apr 13</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v5-apr-19__vs__sprint-07-v2-apr-12/FolderComparisonReport.html">View</a></td>
          <td>Sprint 7 (v5) - Apr 19</td>
          <td>Sprint 7 (v2) - Apr 12</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v5-apr-19__vs__sprint-07-v1-apr-08/FolderComparisonReport.html">View</a></td>
          <td>Sprint 7 (v5) - Apr 19</td>
          <td>Sprint 7 (v1) - Apr 8</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v5-apr-19__vs__sprint-06-v2-apr-01/FolderComparisonReport.html">View</a></td>
          <td>Sprint 7 (v5) - Apr 19</td>
          <td>Sprint 6 (v2) - Apr 1</td>
        </tr>


        <!-- SPRINT 6 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-06-v2-apr-01__vs__sprint-06-v1-mar-25/FolderComparisonReport.html">View</a></td>
          <td>Sprint 6 (v2) - Apr 1</td>
          <td>Sprint 6 (v1) - Mar 25</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-06-v2-apr-01__vs__sprint-05-v3-mar-21/FolderComparisonReport.html">View</a></td>
          <td>Sprint 6 (v2) - Apr 1</td>
          <td>Sprint 5 (v3) - Mar 21</td>
        </tr>
        <!-- SPRINT 5 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-05-v3-mar-21__vs__sprint-05-v2-mar-18/FolderComparisonReport.html">View</a></td>
          <td>Sprint 5 (v3) - Mar 21</td>
          <td>Sprint 5 (v2) - Mar 18</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-05-v3-mar-21__vs__sprint-04-feb-23/FolderComparisonReport.html">View</a></td>
          <td>Sprint 5 (v3) - Mar 21</td>
          <td>Sprint 4 - Feb 23</td>
        </tr>
        <!-- SPRINT 4 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-04-feb-23__vs__sprint-03-feb-09/FolderComparisonReport.html">View</a></td>
          <td>Sprint 4 - Feb 23</td>
          <td>Sprint 3 - Feb 9</td>
        </tr>
      </tbody>
    </table>

  </main>
</div>

{% endblock %}
