{% extends layouts.base %}

{% set sectionClass = 'page--invoice-addendums' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "layouts/columns-10-max.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2 class="pb-3">Invoice Addendums</h2>
        <p>There are no invoice addendums at this time</p>
        <div class="table-responsive">
          <table class="table table-striped table-sparse table-bordered-outside-only">
            <thead>
              <tr>
                <th>DATE</th>
                <th>CAMPAIGN</th>
                <th>PDF VIEW</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">01/19/2015</td>
                <td class="align-middle">06</td>
                <td class="align-middle">
                  <a href="#">
                    <span class="lt-icon lt-pdf lt-large"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle">01/19/2015</td>
                <td class="align-middle">3</td>
                <td class="align-middle">
                  <a href="#">
                    <span class="lt-icon lt-pdf lt-large"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle">01/19/2015</td>
                <td class="align-middle">3</td>
                <td class="align-middle">
                  <a href="#">
                    <span class="lt-icon lt-pdf lt-large"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
