{% extends layouts.base %}

{% set sectionClass = 'page--order-detail' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <div class="row">

        <div class="col-md-12">

          {% include "includes/groups/navigation/back-link.twig" with {label: "Back to online Order History"} %}

          <h2>Order Details</h2>

          <div class="row my-5">
            <div class="col-xs-12 d-flex flex-wrap my-2">
              {% include 'includes/modules/customer-orders/order-summary-item.twig' with {
                title: 'Confirmation',
                value: '456618581'
              } %}
              {% include 'includes/modules/customer-orders/order-summary-item.twig' with {
                title: 'Campaign',
                value: '23',
                isLast: true
              } %}
              <a class="align-self-end ml-auto print-link" href="javascript:void(0)"><span class="lt-icon lt-print lt-medium align-middle mr-2"></span>Print</a>
            </div>
          </div>

          <hr>

          <div class="row d-flex align-items-end flex-wrap px-4 py-1">
            <div class="d-flex align-items-center mr-auto">
              <span class="lt-icon lt-warning-fill lt-medium text-danger mr-2"></span>
              <span class="text-muted">Indicates order contains sold out items</span>
            </div>

            <!-- START - SORT DROPDOWN -->
            <div class="product-list-header--filters">
              {% include "includes/modules/product/list/menu-items/sort-dropdown.twig" with {
                variation: 'customer'
              } %}
            </div>
            <!-- END - SORT DROPDOWN -->

          </div>

          <!--START - ORDER DETAILS-->
          <div class="panel-group pt-3 border-bottom" id="order-details">

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block" data-toggle="collapse" href="#collapseOne">

                    {% include 'includes/modules/customer-orders/order-details-panel-heading-item.twig' with {
                      name: 'Amanda Langston',
                      numOrders: '2 Orders',
                      totalItems: '23 total items'
                    } %}

                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body p-0 m-0">

                  {% include 'includes/modules/customer-orders/order-details-table.twig' with {
                    hasSoldOutItems: false,
                    items: [
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                    ]
                  } %}

                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" href="#collapseTwo">

                    {% include 'includes/modules/customer-orders/order-details-panel-heading-item.twig' with {
                      name: 'Jane Johnson',
                      numOrders: '3 Orders',
                      totalItems: '150 total items',
                      hasErrors: true
                    } %}

                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body p-0 m-0">

                  {% include 'includes/modules/customer-orders/order-details-table.twig' with {
                    hasSoldOutItems: true,
                    items: [
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: true
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: true
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                    ]
                  } %}

                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" href="#collapseThree">

                    {% include 'includes/modules/customer-orders/order-details-panel-heading-item.twig' with {
                      name: 'Jessica Waverly',
                      numOrders: '2 Orders',
                      totalItems: '5 total items'
                    } %}

                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body p-0 m-0">

                  {% include 'includes/modules/customer-orders/order-details-table.twig' with {
                    hasSoldOutItems: false,
                    items: [
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      }
                    ]
                  } %}

                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" href="#collapsefour">

                    {% include 'includes/modules/customer-orders/order-details-panel-heading-item.twig' with {
                      name: 'Phoebe Pope',
                      numOrders: '1 Order',
                      totalItems: '3 total items'
                    } %}

                  </a>
                </h4>
              </div>
              <div id="collapsefour" class="panel-collapse collapse">
                <div class="panel-body p-0 m-0">

                  {% include 'includes/modules/customer-orders/order-details-table.twig' with {
                    hasSoldOutItems: false,
                    items: [
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      }
                    ]
                  } %}

                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" href="#collapseFive">

                    {% include 'includes/modules/customer-orders/order-details-panel-heading-item.twig' with {
                      name: 'Rosa Kim',
                      numOrders: '2 Orders',
                      totalItems: '123 total items'
                    } %}

                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body p-0 m-0">

                  {% include 'includes/modules/customer-orders/order-details-table.twig' with {
                    hasSoldOutItems: false,
                    items: [
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      },
                      {
                        orderId: '0844557744',
                        date: '01/19/2018',
                        campaign: '23',
                        quantity: '25',
                        soldOut: false
                      }
                    ]
                  } %}

                </div>
              </div>
            </div>

          </div>
          <!--END - ORDER DETAILS-->

          <a href="#" class="py-2 expand-all" data-toggle-all="accordion">Expand all</a>

          <p class="text-muted mt-4">{{fpo.paragraph}}</p>

        </div>

      </div>

    </section>

  {% endblock %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->


{% endblock %}
