{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}


        <h1 class="mb-5">Pay Avon - QuickPAY Enrollment Modals</h1>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-modal">Enroll Now</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-review-modal">Enrollment Review</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-success-modal">Enrollment Success</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-learn-more-modal">Enrollment Learn More</a></p>

        <!-- START - MODAL - QUICKPAY ENROLLMENT -->
        {% include "includes/modules/checkout/modals/checkout-quickpay-enrollment-modal.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT REVIEW -->
        {% include "includes/modules/checkout/modals/checkout-quickpay-enrollment-review-modal.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT REVIEW -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT SUCCESS -->
        {% include "includes/modules/checkout/modals/checkout-quickpay-enrollment-success-modal.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT SUCCESS -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT LEARN MORE -->
        {% include "includes/modules/checkout/modals/checkout-quickpay-enrollment-learn-more-modal.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT LEARN MORE -->


      {% endblock %}


  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
