
{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

<div class="container container--page">


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <h1 class="mb-5">Pay Avon - Saved Credit Cards (Modals)</h1>

  <p><a data-toggle="modal" data-target="#pay-avon-edit-card-info-modal">Edit Card Info</a></p>
  <p><a data-toggle="modal" data-target="#pay-avon-review-payment-modal">Review Payment</a></p>
  <p><a data-toggle="modal" data-target="#pay-avon-payment-confirmation-modal">Payment Confirmation</a></p>

  <!-- START - MODAL - EDIT CARD -->
  {% include "includes/modules/account/modals-pay/pay-avon-edit-card-info-modal.twig" %}
  <!-- END - MODAL - EDIT CARD -->

  <!-- START - MODAL - REVIEW PAYMENT -->
  {% include "includes/modules/account/modals-pay/pay-avon-review-payment-modal.twig" %}
  <!-- END - MODAL - REVIEW PAYMENT -->

  <!-- START - MODAL - PAYMENT CONFIRMATION-->
  {% include "includes/modules/account/modals-pay/pay-avon-payment-confirmation-modal.twig" %}
  <!-- END - MODAL - PAYMENT CONFIRMATION-->

  {% endblock %}

</div>

{% endblock %}
