 {% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - BREADCRUMBS -->
  {% include components.groups.navigation.breadcrumbs with {
    'items': [{
        'slug': '#',
        'label': 'Products'
      }, {
        'slug': '#',
        'label': 'Skincare'
      }
      , {
        'slug': '#',
        'label': 'Mousturizers'
      }
    ]
  }%}
  <!-- END - BREADCRUMBS -->

  <section class="container container--page">
    {% embed layouts.columns3x9 %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include "includes/modules/product/filters/product-categories.twig" %}
        {% include "includes/modules/product/filters/product-features.twig" %}
        {% include "includes/modules/product/filters/product-filters.twig" %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
          position: 'within',
          html: '<div class="reverse-bg py-3">
          <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
          </div>'
        } %}

        {% include "includes/modules/product/landing/landing-body.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

  <!-- BACK TO TOP BUTTON -->
  {% include 'includes/modules/global/back-to-top-btn.twig' %}

  <!-- MODAL - QUICK SHOP -->
  {% include "includes/modules/product/detail/quick-shop.twig" %}

  <!-- MODAL - OFFERS -->
  {% include "includes/modules/product/detail/offers-modal.twig" %}

  <!-- START - ADD NEW CUSTOMER MODAL -->
  {% include "includes/modules/modals/add-new-customer-modal.twig" %}

  <!-- MODAL - PRODUCT IMAGE LG -->
  {% include "includes/modules/product/detail/product-image-modal.twig" with { isInQuickShopModal: true } %}

  <!-- MODAL - PRODUCT VIDEO LG -->
  {% include "includes/modules/product/detail/product-video-modal.twig" with { isInQuickShopModal: true } %}


{% endblock %}
