{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% embed layouts.columns12 %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      {% include "includes/modules/product/detail/alert-header-level-view-you-order.twig" with {alertDismissable: true} %}

      <!-- START - BREADCRUMBS -->
      {% include "includes/groups/navigation/breadcrumb.twig" with {
        'items': [{
          'slug': '#',
          'label': 'Products'
        }, {
          'slug': '#',
          'label': 'Moisturizers'
        }, {
          'slug': '#',
          'label': 'Skinvincible'
        }]}
      %}
      <!-- END - BREADCRUMBS -->

      <!-- START - MAIN PRODUCT DETAILS -->
      <section class="container container--page">

        <!-- DEVELOPER NOTE :: this markup, starting with the .row below is shared
          between Product Detail Page and Quick Shop Modal -->
        <div class="row">

          <!-- START - PRODUCT IMAGES -->
          <div class="pdp-images-block page-inner col-sm-6 pr-md-4 pr-lg-5">
            {% include "includes/modules/product/detail/images.twig" %}
          </div>
          <!-- END - PRODUCT IMAGES -->

          <!-- START - PRODUCT DETAILS -->
          <div class="pdp-details-block page-inner col-sm-6 pt-4 pt-md-0 pl-md-0 d-flex">
            {% include "includes/modules/product/detail/details.twig" %}
          </div>
          <!-- END - PRODUCT DETAILS -->

        </div>
        <!-- /.row -->

        <hr>

      </section>
      <!-- END - MAIN PRODUCT DETAILS -->



      <!-- START - TABS SECTION -->
      <section class="container pt-2 pb-3 pt-md-4 pb-md-4">

        <div class="row">
          <div class="col-md-8">

            <!-- START - TABS NAV -->
            <ul id="pdpTabs" class="nav nav-pills">
              <li class="active">
                <a href="#pdpDescription" data-toggle="tab">
                  <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                  <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                  <span>Description</span>
                </a>
              </li>
              <li>
                <a href="#pdpIngredients" data-toggle="tab">
                  <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                  <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                  <span>Ingredients</span>
                </a>
              </li>
              <li>
                <a href="#pdpFacts" data-toggle="tab">
                  <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                  <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                  <span>Supplement Facts</span>
                </a>
              </li>
              <li>
                <a href="#pdpOtherInfo" data-toggle="tab">
                  <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                  <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                  <span>Other</span>
                </a>
              </li>
            </ul>
            <!-- END - TABS NAV -->

            <!-- START - TAB PANES -->
            <div class="tab-content">

              <!-- START - DESCRIPTION TAB -->
              <div class="tab-pane active" id="pdpDescription">
                {% include "includes/modules/product/detail/tab-description.twig" %}
              </div>
              <!-- END - DESCRIPTION TAB -->

              <!-- START - INGREDIENTS TAB -->
              <div class="tab-pane" id="pdpIngredients">
                {% include "includes/modules/product/detail/tab-ingredients.twig" %}
              </div>
              <!-- END - INGREDIENTS TAB -->

              <!-- START - FACTS TAB -->
              <div class="tab-pane" id="pdpFacts">
                {% include "includes/modules/product/detail/tab-facts.twig" %}
              </div>
              <!-- END - FACTS TAB -->

              <!-- START - OTHER INFO TAB -->
              <div class="tab-pane" id="pdpOtherInfo">
                {% include "includes/modules/product/detail/tab-other-info.twig" %}
              </div>
              <!-- END - OTHER INFO TAB -->

            </div>
            <!-- END - TAB PANES -->


          </div>
        </div>

      </section>
      <!-- END - TABS SECTION -->



      <!-- START - RELATED PRODUCTS -->
      <section class="reverse-bg px-0 py-5 px-md-5">

        <div class="container">

          <!-- START - HEADER -->
          <div class="clearfix mt-4 mb-5 pdp-related">
            <h3 class="text-center my-0 pdp-related-head">Related Products</h3>
            <a href="#" class="pdp-related-link text-uppercase">View all</a>
          </div>
          <!-- END - HEADER -->

          {% set relatedProduct = '<div class="col-xs-6 col-sm-3">
                  <div class="thumbnail thumbnail--square">
                    <a href="#"><img src="/images/fpo/product-details/related_01.png" alt="" class="img-responsive"></a>
                  </div>
                  <div class="caption text-center p-3">
                    <p class="small">Product name lorem ipsum dolor</p>
                    <p class="large m-0">$99.99</p>
                  </div>
                </div>' %}

          {% set relatedProductLarge = '<div class="col-xs-6 col-sm-3">
                  <div class="thumbnail thumbnail--square">
                    <a href="#"><img src="/images/fpo/product-details/related_01.png" alt="" class="img-responsive"></a>
                  </div>
                  <div class="caption text-center p-3">
                    <p class="small">Product name lorem ipsum dolor. Product name lorem ipsum dolor. Product name lorem ipsum dolor. Product name lorem ipsum dolor</p>
                    <p class="large m-0">$99.99</p>
                  </div>
                </div>' %}

          <!-- START - CAROUSEL -->
          <div id="carousel-related-products" class="carousel slide pt-0 pt-md-5" data-ride="carousel" data-interval="0">

            <!-- START - CAROUSEL INNER -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProductLarge }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
              <div class="item">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProductLarge }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
              <div class="item">
                <div class="row px-0 px-md-4">
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                  {{ relatedProduct }}
                </div>
              </div>
            </div>
            <!-- END - CAROUSEL INNER -->

            <!-- START - CAROUSEL CONTROLS -->
            <a class="left carousel-control hidden-xs" href="#carousel-related-products" data-slide="prev">
              <span class="lt-icon lt-left lt-large"></span>
            </a>
            <a class="right carousel-control hidden-xs" href="#carousel-related-products" data-slide="next">
              <span class="lt-icon lt-right lt-large"></span>
            </a>
            <!-- END - CAROUSEL CONTROLS -->

          </div>
          <!-- END - CAROUSEL -->

        </div>
        <!-- /.container -->

      </section>
      <!-- END - RELATED PRODUCTS -->

    {% endblock %}

  {% endembed %}

  <!-- DRAWER -->
  {# include 'includes/modules/your-order/order-summary.twig' #}

  <!-- MODAL - ADD TO ORDER -->
  {% include 'includes/modules/product/detail/add-to-order.twig' %}

  <!-- MODAL - OFFERS -->
  {% include "includes/modules/product/detail/offers-modal.twig" %}

  <!-- START - ADD NEW CUSTOMER MODAL -->
  {% include "includes/modules/modals/add-new-customer-modal.twig" %}

  <!-- MODAL - PRODUCT IMAGE LG -->
  {% include "includes/modules/product/detail/product-image-modal.twig" %}

  <!-- MODAL - PRODUCT VIDEO LG -->
  {% include "includes/modules/product/detail/product-video-modal.twig" %}

{% endblock %}
