{% extends layouts.base %}

{% set sectionClass = 'page--reports-landing' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - CONTENT HEADER -->
    <section class="container container--page">
      <header class="row" role="header">
        <div class="col-md-12 mb-2">
          <div class="d-flex align-items-center flex-wrap mb-4">
            <h2 class="mb-0 mr-auto">Customer Reports</h2>
            <div>
              <button type="button" class="btn btn-default btn-soft btn-discourage btn-sm" data-toggle="modal" data-target="#report-settings-modal">Settings</button>
            </div>
          </div>
        </div>
      </header>
    </section>
    <!-- END - CONTENT HEADER -->

    <main class="container">
      <div class="row">
        <div class="col-md-12 mb-2">

          <!-- START - ALL REPORTS -->
          <!-- DEV NOTE :: This is a scenario when the user has NO SAVED REPORTS,
                        :: so we omit the tabs / tab panes -->
            <div class="tab-pane" id="reports-all">
              {% include 'includes/modules/reports/landing/tab-pane-all.twig' %}
            </div>
            <!-- END - ALL REPORTS -->
          </div>

        </div>
      </div>
    </main>

  {% endblock %}

  <!-- START - REPORT SETTINGS MODAL -->
  {% include "includes/modules/reports/modals/report-settings-modal.twig" %}
  <!-- END - REPORT SETTINGS MODAL -->

  <!-- START - DELETE REPORT MODAL -->
  {% include "includes/modules/reports/modals/delete-report-modal.twig" %}
  <!-- END - DELETE REPORT MODAL -->

{% endblock %}
