{% extends "layouts/base-simple-header.twig" %}

{% set pageClass = 'page-signin' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <section class="container container--page">

    {% include "/includes/elements/misc/link-back.twig" with {
      label: 'Sign In',
      classes: 'back-link--abs'
    } %}

    {% embed layouts.columns6max %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h5 class="text-center">Set your email address</h5>
        <h5 class="text-center">Reset your password</h5>

        <hr class="">

        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="mb-4">
            <img src="./images/icons/icon-check.svg" alt="success">
          </div>
          <div class="text-muted">{{ fpo.sentence }}</div>
        </div>

        <hr class="">

        <div class="my-5">

          <button type="button" class="btn btn-primary btn-block my-5">Lorem Ipsum</button>

          <div class="box-emphasize my-5 py-2">
            <div class="py-4 d-flex justify-content-center">
                <span class="mr-4">
                  <span class="lt-icon lt-mail lt-medium" toggle-password-visibility="login-password"></span>
                </span>
                <span>janet.johnson@gmail.com</span>
            </div>
          </div>
          {# <div class="well p-4 text-center">
            <span>
              <span class="lt-icon lt-mail lt-medium" toggle-password-visibility="login-password"></span>
              <span>janet.johnson@gmail.com</span>
            </span>

          </div> #}
        </div>

        <hr>

        {% include "includes/modules/sign-in/sign-in-assistance.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

{% endblock %}




