{% extends layouts.base %}

{% set sectionClass = 'page--support' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "layouts/columns-10-max.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Support</h2>

        <div class="row row-fix-safari-flex d-flex flex-wrap mt-5 box-group--secondary">

          <!-- START - ITEMS -->
          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 1,
            'title': 'Frequently Asked Questions',
            'imgUrl': 'images/fpo/support/faq-icon@2x.png'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 2,
            'title': 'Contact Your Sales Leader',
            'imgUrl': 'images/fpo/support/sales-leader-icon@2x.png'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 3,
            'title': 'Live Chat with Avon',
            'imgUrl': 'images/fpo/support/live-chat@2x.png'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 4,
            'title': 'Email Avon',
            'imgUrl': 'images/fpo/support/email-avon-icon@2x.png'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 5,
            'title': 'Call Avon',
            'imgUrl': 'images/fpo/support/call-avon-icon@2x.png'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 6,
            'title': 'Live Chat',
            'text': '<div class="text-muted support-icon-chat-text small">
<strong>Monday - Friday</strong>
<br><span>8:00 a.m. - 11:00 p.m. ET<br>5:00 a.m. - 8:00 p.m. PT</span>
<br><br><strong>Saturday - Sunday</strong>
<br><span>10:00 a.m. - 6:00 p.m. ET<br>7:00 a.m. - 3:00 p.m. PT</span>
</div>'
          } %}
          
          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 7,
            'title': 'Live chat hours',
            'text': ' <div class="text-muted support-icon-chat-text small mx-3">
                Chat support is busy with other representatives right now.
                <br /><br />Please try again in a bit!
            </div>'
          } %}

          {% include "includes/groups/support/support-page-item.twig" with {
            'indexNum': 8,
            'title': 'Avon Mailing Address',
            'imgUrl': 'images/fpo/support/mailing-address-icon@2x.png'
          } %}
          <!-- END - ITEMS -->

        </div>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
