{% extends layouts.base %}

{% set sectionClass = 'page--track-orders' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <!-- START - HEADER LEVEL ALERT -->
  {% include "includes/groups/alerts/alert-level-template.twig" with {
    alertIcon: 'lt-warning-fill',
    alertHeadline: 'FPO error message',
    alertBody: null,
    alertBtnText: null,
    alertClasses: 'alert-danger alert-strong',
    alertLevel: 'header',
    alertDismissable: false,
    alertId: null
  } %}
  <!-- END - HEADER LEVEL ALERT -->


  <div class="container container--page">

    {% embed "layouts/columns-10-max.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2 class="pb-3">Track Submitted Orders</h2>
        <p>Click on Confirmation numbers below to see order details. Items not available can be viewed on your invoice.</p>
        <div class="table-responsive mt-5">
          <table class="table table-striped table-bordered-outside-only">
            <thead>
              <tr>
                <th class="nowrap">Confirmation #</th>
                <th>Date</th>
                <th class="nowrap">C #</th>
                <th>Source</th>
                <th>Order Amount</th>
                <th>Items Not Available</th>
                <th>Type</th>
                <th>Status</th>
                <th>Status Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
            </tbody>
          </table>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "includes/groups/fpo/magnolia-managed-content-block.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
