{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - HEADER LEVEL ALERT -->
    {% include "includes/groups/alerts/alert-level-template.twig" with {
      alertIcon: 'lt-warning-fill',
      alertHeadline: 'There has been an error reaching our offers and discount engine.',
      alertBody: null,
      alertBtnText: null,
      alertClasses: 'alert-danger alert-strong',
      alertLevel: 'header',
      alertDismissable: false,
      alertId: null
    } %}
    <!-- END - HEADER LEVEL ALERT -->

    {% include "includes/modules/product/detail/alert-header-level-view-you-order.twig" with {alertDismissable: true} %}



    <!-- START - TAB NAVIGATION -->
    <section class="container container--page">
      <h2 class="mb-5">Your Order</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12">

          {% include "includes/modules/your-order/tab-nav.twig" %}

        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.container -->
    <!-- END - TAB NAVIGATION -->

    <section class="container">

      {% embed "layouts/columns-8x4.twig" with {
        contentSplit: true
      } %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          {% include 'includes/modules/your-order/tab-content.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- START - ORDER TOTAL ASIDE -->
          {% include 'includes/modules/your-order/order-total.twig' %}
          <!-- END - ORDER TOTAL ASIDE -->

          <!-- START - ORDER TOTAL STICKY FOOTER -->
          <!-- NOTE :: This sticky footer relies on js found in js/demo/your-order-carts-tab.js -->
          <!--      :: it is required to add padding to <body> -->
          {% include 'includes/modules/your-order/order-sticky-footer.twig' %}
          <!-- END - ORDER TOTAL STICKY FOOTER -->

          <!-- START - CHECKOUT MODAL -->
          {% include "includes/modules/modals/modal-either-or.twig" with { 'modalId': 'order-checkout-modal' } %}
          <!-- END - CHECKOUT MODAL -->

        {% endblock %}

      {% endembed %}

    </section>

  {% endblock %}

{% endblock %}
