{% extends "layouts/modal.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-contact-list-filter-customer' %}
{% endif %}

{% set modalClasses = 'modal-either-or' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Filter</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeaderMessage #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# {% block modalHeaderMessage %}
<div class="reverse-bg px-4 py-3 text-center text-muted">
  <span>[4]</span> filters applied. <a href="#">Clear all</a>
</div>
{% endblock %} #}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">
  <div class="row">

    <div class="col-xs-12">
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-language',
          mainLabel: 'Language',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'English'},
            {'label': 'Spanish'},
            {'label': 'Show all customers'}
          ]
        } %}
      </div>




      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-language',
          mainLabel: 'Online Customer',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'Yes'},
            {'label': 'No'},
            {'label': 'Show all customers'}
          ]
        } %}
      </div>

      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-notes-added-recently',
          mainLabel: 'Notes Added Recently',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'Last day'},
            {'label': 'Last 3 days'},
            {'label': 'Last 7 days'},
            {'label': 'Last 30 days'},
            {'label': 'Last 60 days'},
            {'label': 'Last 90 days'}
          ]
        } %}
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

</form>







{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Apply</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
