<tr class="t-has-absolute-col-left-and-right">
  <!-- CHECKBOX -->
  <td class="t-checkbox t-absolute-col-left pr-0">
    {% include "includes/elements/forms/checkbox.twig" with { checked: false, classes: 'input-sm contact-list-checkbox-item ', wrapLabel: true } %}
  </td>
  <!-- FIRST NAME -->
  <td class="t-first-name t-primary t-inline">
    <div class="truncate">
      <a href="#" class="link-secondary link-underline font-weight-bold">Firstname{{ longFirstName }}</a>
    </div>
  </td>
  <!-- LAST NAME -->
  <td class="t-last-name t-primary t-inline">
    <div class="truncate">
      <a href="#" class="link-secondary link-underline font-weight-bold">Lastname{{ longLastName }}</a>
    </div>
  </td>

  {% if contactType == 'team' %}
  <!-- START - "TEAM" COLUMNS -->
  <!-- MENTOR -->
  <td class="t-mentor t-block">
    <div class="truncate">
      <span class="t-key">Mentor: </span>Contact Name{{ longContactName }}
    </div>
  </td>
  <!-- GEN -->
  <td class="t-gen t-block">
    <div class="truncate">
      <span class="t-key">Gen: </span>00000
    </div>
  </td>
  <!-- END - "TEAM" COLUMNS -->
{% endif %}

  <!-- PHONE -->
  <td class="t-phone t-block">(000) 000-0000</td>
  <!-- EMAIL -->
  <td class="t-email t-block">
    <div class="truncate"><a data-toggle="modal" data-target="#modal-contacts-send-email" href="javascript:void(0)" class="link-secondary link-underline">firstname{{ longFirstName }}lastname{{ longLastName }}@bigtimecompany.com</a>
    </div>
  </td>
{% if contactType == 'customer' %}
  <!-- START - "CUSTOMER" COLUMNS -->
  <!-- CUSTOMER -->
  <td class="t-customer-type t-block">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">Online Customer</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark lt-medium"></span>
    </span>
    {% endif %}
  </td>
  <!-- END - "CUSTOMER" COLUMNS -->
{% endif %}
  <!-- GROUPS -->
  <td class="t-groups t-block">
    {% if groupName %}<span class="label label-secondary label-wrap">{{ groupName }}</span>{% endif %}
    {% if groupName2 %}<span class="label label-secondary label-wrap">{{ groupName2 }}</span>{% endif %}
  </td>
  <!-- ACTIONS -->
  <td class="t-actions t-absolute-col-right">
    <div class="btn-group">
      <a href="javascript:void(0)" data-toggle="dropdown" class="link-muted"><span class="lt-icon lt-ellipsis lt-large"></span></a>
      <ul class="dropdown-menu pull-right">
        <li class="visible-xs"><a href="tel:1-000-000-0000" class="link-phone-number">Call</a></li>
        <li class="visible-xs"><a href="sms://+8901234567" class="link-phone-number">Text</a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-send-email">Send email</a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-send-ecard">Send eCard</a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-notes-add-edit">Add note</a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-follow-ups-add-edit">Add follow-up</a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-to">Add to group</a></li>
      </ul>
    </div>
  </td>
</tr>


