<!-- START - SECONDARY ACTIONS -->
<section class="affix-actions" data-spy="affix" data-offset-top="0">
  <div class="container px-xs-0">
    <div class="actions-secondary d-flex py-4 medium">
      <!-- START - MASTER CHECKBOX -->
      <div class="group--checkbox">
        {% include "includes/elements/forms/checkbox.twig" with { checked: false, classes: 'input-sm m-0 ml-3 pl-1 pt-1', id:'contact-list-toggle-all' } %}
      </div>
      <!-- END - MASTER CHECKBOX -->
      <div class="group--selected-item-controls pr-2 pl-4 pl-md-0 pr-sm-0" >
       {#  <div class="" > #}
          <div class="checked-checkbox-count">[0]<span class="count-label"> selected</span></div>
          {% include 'includes/modules/contacts/contacts-header-action-links.twig' %}
    {#     </div> #}
      </div>

      <!-- START - HEADER BUTTONS -->
      <div class="group--table-controls d-inline-block action-items pr-2">
        {% include 'includes/modules/contacts/contacts-header-buttons.twig' %}
      </div>
      <!-- END - HEADER BUTTONS -->
    </div>
  </div>
</section>
<!-- END - SECONDARY ACTIONS  -->

<!-- START - LIST (TABLE)  -->
<section class="container px-xs-0">
  <div class="table-responsive-rows-and-cols table-contact-list">
    <table class="table table-striped table-last-col-right border-bottom">
      <thead>
        <tr>
          <th class="t-checkbox">
            <span class="d-none">Select</span>
          </th>
          <th class="t-first-name t-primary">
            <span class="th-label">First Name</span>
            <span class="lt-icon lt-carat-down lt-medium"></span>
          </th>
          <th class="t-last-name t-primary">
            <span class="th-label">Last Name</span>
            <span class="lt-icon lt-carat-down lt-medium"></span>
          </th>
        {% if contactType == 'team' %}
          <!-- START - "TEAM" COLUMNS -->
          <th class="t-mentor">
            <span class="th-label">Mentor</span>
            <span class="lt-icon lt-carat-down lt-medium"></span>
          </th>
          <th class="t-gen">
            <span class="th-label">Gen.</span>
            <span class="lt-icon lt-carat-down lt-medium"></span>
          </th>
          <!-- END - "TEAM" COLUMNS -->
        {% endif %}
          <th class="t-phone">
            <span class="th-label">Phone</span>
          </th>
          <th class="t-email">
            <span class="th-label">Email</span>
          </th>
        {% if contactType == 'customer' %}
          <!-- START - "CUSTOMER" COLUMNS -->
          <th class="t-online-customer">
            <span class="th-label">Online <br>Customer</span>
            <span class="lt-icon lt-carat-down lt-medium"></span>
          </th>
          <!-- END - "CUSTOMER" COLUMNS -->
        {% endif %}
          <th class="t-groups">
            <span class="th-label">Group(s)</span>
          </th>
          <th class="t-actions">
            <span class="d-none">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: true, groupName: 'GroupName' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: true, longFirstName: 'islong' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false, longLastName: 'isverylong'} %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false, groupName: 'GroupName', groupName2: 'GroupName' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false, groupName: 'Longtitle Group Name' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false, longFirstName: 'islong', longLastName: 'issoooooverylong'} %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false, longContactName: 'issooolong' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: true, groupName: 'GroupName' } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
        {% include 'includes/modules/contacts/contacts-list/contacts-list-tr.twig' with { isOnlineCustomer: false } %}
      </tbody>
    </table>
  </div>
</section>
<!-- END - LIST (TABLE) -->
