{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - HEADER #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block header %}
  <!-- START - HEADER -->
  <div class="no-reverse-bg">
    {% include "includes/modules/global/header.twig" %}

    {# TODO :: Leaving the simple header commented out for now, remove later
            :: once we've confirmed this is permanent

    {% include "includes/modules/global/simple-header.twig" with {
      'title': 'Checkout'
    } %}   ######}

  </div>
  <!-- /.no-reverse-bg -->
  <!-- END - HEADER -->
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - FOOTER (blank) #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block footer %}{% endblock %}
