{% extends "layouts/modal-lg-no-footer.twig" %}
{% set modalId = 'starter-kit-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title">Kit Details</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <div class="row">

    <!-- START - KIT IMAGES -->
    <div class="pdp-images-block col-sm-6 pr-md-4 pr-lg-5">
      {% include "includes/modules/register/starter-kit-detail/images.twig" %}
    </div>
    <!-- END - KIT IMAGES -->

    <!-- START - KIT DETAILS -->
    <div class="pdp-details-block col-sm-6 pt-4 pt-md-0 pl-md-0 d-flex">
      {% include "includes/modules/register/starter-kit-detail/details.twig" %}
    </div>
    <!-- END - KIT DETAILS -->

  </div>

{% endblock %}
