{% if buttonText is not defined %}
  {% set buttonText = 'Update' %}
{% endif %}

<!-- START - FORM -->
<form role="form" class="pt-4">

  <div class="form-group">
    <label class="control-label">Name on Card</label>
    <div class="row">
      <div class="col-xs-12 mb-3 mb-xs-0">
        {% include components.elements.forms.input %}
      </div>
    </div>
  </div>

  <div class="form-group">

    <div class="row">

      <div class="col-xs-12">
        <label class="control-label">Expiration date</label>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-6">
            <select class="form-control form-inline selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
              <option selected="true" disabled="true">Month</option>
              <option>January</option>
              <option>February</option>
              <option>March</option>
            </select>
            {% include 'includes/groups/alerts/legacy/alert.twig' %}
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <select class="form-control form-inline selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
              <option selected="true" disabled="true">Year</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
            </select>
            {% include 'includes/groups/alerts/legacy/alert.twig' %}
          </div>
        </div>
      </div>

    </div>
    <!-- / .row -->

  </div>
  <!-- / .form-group -->

  <div class="clearfix mt-5 mb-4">
    <h6 class="pull-left m-0 mt-2">Billing Address</h6>
  </div>

{#   <!-- START - SAME ADDRESS CHECKBOX -->
  <div class="form-group mb-4">
    {% include "includes/elements/forms/checkbox.twig" with {
      checked : false,
      theLabel: 'Billing address is same as Shipping',
      wrapLabel: true
    } %}
  </div>
  <!-- END - SAME ADDRESS CHECKBOX --> #}

  <!-- START - BILLING ADDRESS FORM FIELDS -->
  <!-- DEV NOTE :: add class '.d-none' to billing-address to hide -->
  <div class="billing-address">
    <section class="billing-address">
      {% include "includes/groups/forms/generic/address-zip-city-state-country.twig" with {
        'idPrefix': 'edit-cc-',
        'showTheValue': true,
        'showPlaceholder': true,
      }%}
    </section>
  </div>
  <!-- END - BILLING ADDRESS FORM FIELDS -->

{#   <div class="pb-4 pl-1">
    {% include "includes/elements/forms/checkbox.twig" with {
      checked : true,
      theLabel: 'Save credit card information to my account',
      helperText: 'Donec id elit non mi porta gravida et eget metus. Nulla vitae elit libero, a phareta augue verbose.',
      emphasize: false,
      wrapLabel: true
    } %}
    {% include "includes/elements/forms/checkbox.twig" with {
      checked : false,
      theLabel: 'Save credit card information to my account',
      helperText: 'Donec id elit non mi porta gravida et eget metus. Nulla vitae elit libero, a phareta augue verbose.',
      emphasize: false,
      wrapLabel: true,
      disabled: true
    } %}
  </div> #}

  <div class="row mt-4">
    <div class="col-xs-12">
      <div class="btn-group btn-group-50-50--contained">
        <div class="btn-group">
          <a href="javascript:void(0)" class="btn btn-default" {% if cancelTarget %} data-toggle="collapse" data-target="{{ cancelTarget }}" data-parent="#savedCreditCardsList" data-target-container="" {% endif %}>Cancel</a>
        </div>
        <div class="btn-group">
          <a href="javascript:void(0)" class="btn btn-primary">{{ buttonText }}</a>
        </div>
      </div>
    </div>
  </div>

</form>
<!-- END - FORM -->
