{% set ccData1 = {
  thumb: '../images/icons/payment-visa.svg',
  cardType: 'VISA',
  lastFour: '1234',
  name: 'Marcia Brady McLongname Thompson Johnston',
  expirationDate: '01/21'
} %}

{% set ccData2 = {
  thumb: '../images/icons/payment-mastercard.svg',
  cardType: 'Master Card',
  lastFour: '9876',
  name: 'Marcia Brady',
  expirationDate: '03/18',
  expired: true
} %}

{% set ccData3 = {
  thumb: '../images/icons/payment-visa.svg',
  cardType: 'VISA',
  lastFour: '3456',
  name: 'Marcia Brady',
  expirationDate: '08/21'
} %}

{% set ccData4 = {
  thumb: '../images/icons/payment-creditcard.svg',
  label: 'Use another credit card'
} %}

{% set opt1 %}
{% include "includes/modules/account/pay-avon-credit-card-select-option.twig" with {
  thumb: ccData1.thumb,
  cardType: ccData1.cardType,
  lastFour: ccData1.lastFour,
  name: ccData1.name,
  expirationDate: ccData1.expirationDate
} %}
{% endset %}

{% set opt2 %}
{% include "includes/modules/account/pay-avon-credit-card-select-option.twig" with {
  thumb: ccData2.thumb,
  cardType: ccData2.cardType,
  lastFour: ccData2.lastFour,
  name: ccData2.name,
  expirationDate: ccData2.expirationDate,
  expired: ccData2.expired
} %}
{% endset %}

{% set opt3 %}
{% include "includes/modules/account/pay-avon-credit-card-select-option.twig" with {
  thumb: ccData3.thumb,
  cardType: ccData3.cardType,
  lastFour: ccData3.lastFour,
  name: ccData3.name,
  expirationDate: ccData3.expirationDate
} %}
{% endset %}

{% set opt4 %}
{% include "includes/modules/account/pay-avon-credit-card-select-option.twig" with {
  thumb: ccData4.thumb,
  label: ccData4.label
} %}
{% endset %}

{% set selectLabel %}
<!-- START - NO CREDIT CARDS ARE FILE -->
<div>Use a credit card</div>
<!-- END - NO CREDIT CARDS ARE FILE -->
{% endset %}

{% set selectPicker %}
<!-- START - A CREDIT CARD IS ALREADY ON FILE -->
<select class="form-control selectpicker select-cc" data-size="5" data-style="btn-select" data-icon-base="lt-icon" data-selected-text-format="values">
  <option disabled="true">Select a credit card</option>
  <option data-content="{{ opt1 }}">{{ ccData1.cardType ~ ' ending in ' ~ ccData1.lastFour }}</option>
  <option data-content="{{ opt2 }}">{{ ccData2.cardType ~ ' ending in ' ~ ccData2.lastFour }}</option>
  <option data-content="{{ opt3 }}">{{ ccData3.cardType ~ ' ending in ' ~ ccData3.lastFour }}</option>
  <option class="d-flex" data-content="{{ opt4 }}" selected="true">{{ ccData4.label }}</option>
</select>
<div class="select-picker-addon"><a class="underline" data-toggle="modal" data-target="#pay-avon-edit-card-info-modal">Edit card</a></div>
<!-- END - A CREDIT CARD IS ALREADY ON FILE -->
{% endset %}

{% if isCreditCardOnFile %}
  {% set theLabelContent = selectPicker %}
{% else %}
  {% set theLabelContent = selectLabel %}
{% endif %}


{% include 'includes/groups/forms/radio-and-select.twig' with {
name: 'pay-type',
theLabel: theLabelContent,
checked: false
} %}
